@(courses: List[Course]) 
@main("etoile project") {

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="/">etoile platform</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="courses">Courses</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
				<div class="navbar-form pull-right">
					 @if( session.get("email")==null) {
             <a href="login" role="button" class="btn btn-primary" >Login</a>
 			}
 			  @if( session.get("email")!=null) {
             <a href="/logout" role="button" class="btn btn-primary" >Logout</a>
 			}

				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">

			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Sidebar</li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li class="nav-header">Sidebar</li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
	
	<div class="span9">
	<div id="myCarousel" class="carousel slide" >
                <div class="carousel-inner" >
                <div class="item active"  style="max-height: 300px;min-height: 300px">
                    <img src="http://resources2.news.com.au/images/2011/12/17/1226224/763178-student-survey.jpg" alt="" width="400px" height="300px">
                    <div class="carousel-caption">
                      <h4>New Courses</h4>
                      <p>Aply for a new course today!</p>
                    </div>
                  </div>
                @for(course <- courses) {
              
                  <div class="item"  style="max-height: 300px;min-height: 300px">
                    <img src="@course.courseImageURL" alt="@course.name" width="400px" height="300px">
                    <div class="carousel-caption">
                      <h4>@course.name</h4>
                      <p>@course.description</p>
                    </div>
                  </div>
                  }
            
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
              </div>

		
		<div class="span9">
			<div class="row-fluid">
				@for(course <- courses) {
				<div class="span4">
					<h4>@course.name</h4>
					<p>@course.description</p>
					<p>
						<a class="btn" href="#">View details &raquo;</a>
					</p>
				</div>
				}


			</div>
		</div>
		}