@(user: models.User, ressources: List[models.curriculum.Curriculumtopic],lessonscontent: List[models.module.Lessoncontent],modules: List[models.module.Module],categories: List[models.curriculum.Category],continents: List[models.continent.Continent])

@main("éToile Platform") {
<link href="@routes.Assets.at("stylesheets/caption-effect.css")" rel="stylesheet" type="text/css" media="screen" />
<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <!-- <a class="brand" href="/">etoile platform</a> -->
            <a class="brand" href="/">éToile Platform</a>

            <!-- Menu na barra de cima -->
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
                    </li>
                    <li><a href="/modules">Modules</a>
                    </li>
                    <!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
                    <li><a href="/news">News</a>
                    </li>
                    <li><a href="/about">About</a>
                    </li>
                    <li><a href="/statistics">Statistics</a>
                    </li>
                    <li><a href="/help" target="_blank">Help</a>
                    </li>
                    <li><a href="/contact">Contact</a>
                    </li>
                </ul>
                <!--
                <div class="navbar-form pull-right">
                    <a href="login" role="button" class="btn btn-primary">Login</a>
                </div>
                -->
                <form class="navbar-form pull-right">
                    @if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> }
                    @if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
                </form>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">

        @if(user!=null && user.account_type == 0){
        @usermenu(user,categories,"")

        }
        @if(user != null && user.account_type == 1){
        @professormenu(user,"")
        }
        @if(user == null){
        @staticmenu(categories,continents)
        }

        <div class="span9">

            <div class="page-header">
                <h2>
                    Help <br>
                    <small>supporting the use of the <i></i><b>é</b></i>Toile platform by our community</small>
                </h2>
                   <a href="/help">Help topics</a>
            </div>

            <div>
                <br>
                <h4>How to Sign Up to an éToile Module</h4>

                <ol>
                    <br>
                    <li>Login to éToile. If you don’t have a login/password, Register first, then Login.</li>
                    <br>
                    <li>Go to Modules (option “Modules” on the top menu bar).</li>
                    <br>
                    <li>Open the page of the module you want to sign up.</li>
                    <br>
                    <li>Click on “Sign Up” (blue button on top-right of the page).</li>
                    <br>
                    <li>The module will appear on the left menu “My Modules”. You can now open the module page and participate
                        in all of its activities, such as aced to the lessons, news and resources, and contribute to its forum.</li>
                </ol>

            </div>

        </div>

    </div>
</div>
}
