@(user: User,blogs: List[Blog],categories :
List[models.curriculum.Category]) @main("etoileplatform"){



<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		@usermenu(user,categories)
		<!--/span-->


		<div class="span9">
			<div class="well">
			<img src="http://forum.must.ac.ug/sites/default/files/default-avatar.png">
			@user.name<br>
			from <span class="bfh-countries" data-country="@user.country" data-flags="true"></span><br>
			<h2>My reputation:</h2>
			<div class="">
				<button type="button" class="close" data-toggle="collapse"
							data-target="#reputationdetails">+</button>
						<div class="span10">
						<div class="progress progress-success progress-striped">
					<div class="bar" style="width: @user.globalReputation%"></div>
					
				</div>
				</div>
				
							<div id="reputationdetails" class="collapse row-fluid">
							<div class="offset1">
							<blockquote>
							<p><strong>Tests:</strong> @user.tests.size()</p>
          					<p><strong>Suggested questions:</strong> @user.openquestions.size()</p>
          					<p><strong>Forum posts:</strong> - </p>
          					<p><strong>Suggested URLs:</strong> @user.urls.size()</p>
          					<p><strong>Marked answers: </strong>@user.answerMarker.size()</p>
							</div>
							</blockquote>
							</div>
							<a href="/myprofile#reputation"  class="btn btn-info pull-right"><i class="icon-tasks icon-white" ></i> Details about your reputation</a>
						
				</div>
				
			</div>
	
	@if(user.modules.size()!=0){
			<div class="row-fluid">
				<h3>My Modules</h3>
				<ul class="thumbnails">
					@for(module <- user.modules) {
					<li class="span4">
						<div class="carousel-inner">
							<div class="item" style="min-height: 150px; max-height: 150px">
								<a href="@routes.Application.module(module.acronym)"> <img
									src="@module.imageURL" alt="">
									<div class="carousel-caption">
										<h4>@module.name</h4>
										</a>
							</div>
						</div>
					</li> }
				</ul>
			</div>
}



			<div class="row-fluid">
				<h3>Latest news</h3>
				<ul class="thumbnails">
					@for(blog <- blogs) {
					<li class="span4">
						<div class="thumbnail">
							<img src="@blog.articleImageURL" class="img-rounded"
								style="height: 100px">
							<div class="caption">
								<h5>@blog.alternateHeader</h5>
								<p><small>@blog.date</small></p>
								<p>@blog.alternateText</p>
								<p>
									<a class="btn btn-primary"
										href="@routes.BlogController.blog(blog.id)">View details
										&raquo;</a>
								</p>
							</div>
						</div>
					</li> }
				</ul>
			</div>
		</div>
	</div>
</div>
}
