@(blogs: List[Blog])

@main("etoile project") {
  
<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">étoile platform</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right">
             <a href="login" role="button" class="btn btn-primary" >Login</a>
 

 
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
 

<div class="hero-unit">
	<h1>étoile platform</h1>
	<p>Enhanced Technology for Open Intelligent Learning Environments</p>
	 <p><a href="about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
               
<!-- Example row of columns -->
<div class="row" >
	@for(blog <- blogs) {
	<div class="span4">
	
		<h4>@blog.alternateHeader</h4>
		<div class="storycontent">
		<img class="image img-circle" src="@blog.articleImageURL" alt="placeholder image" height="50" width="50">
		<p>@blog.alternateText</p>
		</div>
		<p><a class="btn" href="@routes.Application.blog(blog.id)">Read more&raquo;</a></p>
	</div>
	}
</div>

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">Please insert your login information</h3>
  </div>
  
</div>

}