@(blogs: List[Blog], categories: List[models.curriculum.Category],
continents: List[models.continent.Continent],modules: List[models.module.Module])

@main("etoile project") {

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i>
			</b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="/">Home</a>
					</li>
					<li><a href="/digitalcampus">Digital Campus</a>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/contact">Contact</a>
					</li>
				</ul>
				<div class="navbar-form pull-right">
					<a href="/login" role="button" class="btn btn-primary">Login</a>
				</div>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Community</li>
					<li><a href="/register">* Why should you join &eacute;toile</a></li> 
					<li><a href="#">* Is it free ?</a></li> 
					<li><a href="/register">* How to register in &eacute;toile</a></li> 
					<li><a href="#">* Forum</a></li>
					<li><a href="#">* Twitter</a></li>
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Categories in the Curriculum (@categories.size)</li>
					@for(category <- categories) {
					<li><a href="/curriculum#@category.keyword">@category.name</a>
					</li> }
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Universities within the digital campus</li>
					@for(continent <- continents) {
					<li><a href="/@continent.acronym">@continent.name
							(@continent.universities.size)</a></li> }
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Digital Library</li>
					<li><a href="/curriculum">Curriculum in Complex Systems
							Sciences</a></li>
					<li><a href="#">* Manuals - How to use the &eacute;toile
							Platform</a></li>
					<li><a href="#">* Video: "&eacute;toile Cascades Ideas",
							Jeff Johnson at ECCS'11</a></li>
					<li><a href="#">* Other resources</a></li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
		
		<div class="span9">
			<div class="hero-unit">
				<h1>étoile platform</h1>
				<p>Enhanced Technology for Open Intelligent Learning
					Environments</p>
				<p>
					<a class="btn btn-primary btn-large" href="about">Learn more
						&raquo;</a>
				</p>
			</div>
<div class="row-fluid">
				 <ul class="thumbnails">
        @for(module <- modules) {
            <li class="span4">
		<div class="carousel-inner">
		     <div class="item"  style="min-height: 150px; max-height: 150px">
		     <a href="@routes.Application.module(module.acronym)">
                    <img src="@module.imageURL" alt="">
                    <div class="carousel-caption">
                      <h4>@module.name</h4>
                      <p>@module.university.name</p>
                    </div>
                    </a>
                  </div>
		</div>
		</li>
		}
		</ul>


			</div>

			<div class="row-fluid">

				@for(blog <- blogs) {
				<div class="span4" >
					<h4>@blog.alternateHeader</h4>
					<p>@blog.alternateText</p>
					<p>
						<a class="btn" href="@routes.Application.blog(blog.id)">View
							details &raquo;</a>
					</p>
				</div>
				}


			</div>
		</div>
	</div>
</div>
}