@(form: Form[Application.Login]) 
@main("etoile project") {

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="/digitalcampus">Digital Campus</a>
					</li>
					<li><a href="/courses">Courses</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
<!-- 				<form class="navbar-form pull-right"> -->
<!-- 					@if( session.get("email")==null) { <a href="login" role="button" class="btn btn-primary">Login</a> }  -->
<!-- 					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> } -->
<!-- 				</form> -->
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="tabbable">
	<!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Login</a></li>
		<li><a href="#tab2" data-toggle="tab">Register</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
		 <div class="row">
		<div class="span6" >
			@helper.form(routes.Application.authenticate,'class->"form-horizontal") {

			<p>Please insert your credentials</p>

			@if(form.hasGlobalErrors) {
			<div class="alert alert-danger">
			<p class="error">@form.globalError.message</p>
			</div>
			} @if(flash.contains("success")) {
			<div class="alert alert-info">
			<p class="success">@flash.get("success")</p>
			</div>
			}
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="email" class="span3" name="email" placeholder="Email"
						>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" class="span3" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" name="password" placeholder="Password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<!--       <label class="checkbox"> -->
					<!--         <input type="checkbox"> Remember me -->
					<!--       </label> -->
					<button class="btn btn-primary" type="submit">Login</button>
					<p>
					<div align="">
						Forgot password? <a href="#">Click here to reset</a>
					</div>
					<div align="">
						New User? <a href="#tab2" data-toggle="tab">Click here to
							register</a>
					</div>
				</div>
			</div>
			}
		</div>
			<div class="span6">
			<div class="well">
				  <p></p>
              <legend>New to étoile? Create a free account!</legend> 
              If you don't have an account in the étoile platform, you can register quickly. There are many features that are available in the student's area. 
              <p>
                <ul>
                <p>
                  <li>Access to pedagogical resources for Master and PhD levels.</li>
                </p>
                <p>
                  <li>Check your knowledge using the étoile evaluation tests.</li>
                </p>
                <p>
                  <li>Interact with a worldwide community of students and scientific researchers within the <a href="digitalcampus">Digital Campus</a>.</li>
                </p>
              </ul>
            </p>
            </div>
			</div>
			
		
		</div>
</div>

		<div class="tab-pane" id="tab2">
		<form class="form-horizontal">
  <div class="control-group">
   <legend>New account</legend>
    <label class="control-label" for="inputUsername">Username</label>
    <div class="controls">
      <input type="text" id="inputUsername" placeholder="Username">
      <span class="help-inline"></span>
        <span class="help-block">Please choose a valid username.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="email" id="inputEmail" placeholder="Email">
      <span class="help-inline"></span>
        <span class="help-block">Enter a valid email address.</span> 
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
       <span class="help-inline"></span>
        <span class="help-block">A password must be at least 6 characters. </span> 
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputRepeatPassword">Repeat Password</label>
    <div class="controls">
      <input type="password" id="inputRepeatPassword" placeholder="Repeat Password">
       <span class="help-inline"></span>
        <span class="help-block">Please repeat your password again. </span> 
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="profile_country">Country</label>
    <div class="controls">
        
    <select id="profile_country" name="profile.country" >
        
            <option class="blank" value="">--- Choose a country ---</option>
        
        
            <option value="France" >France</option>
        
            <option value="Austria" >Austria</option>
        
            <option value="Belgium" >Belgium</option>
        
            <option value="Bulgaria" >Bulgaria</option>
        
            <option value="Cyprus" >Cyprus</option>
        
            <option value="Czech Republic" >Czech Republic</option>
        
            <option value="Denmark" >Denmark</option>
        
            <option value="Estonia" >Estonia</option>
        
            <option value="Finland" >Finland</option>
        
            <option value="French Guiana" >French Guiana</option>
        
            <option value="Germany" >Germany</option>
        
            <option value="Gibraltar" >Gibraltar</option>
        
            <option value="Greece" >Greece</option>
        
            <option value="Guadeloupe" >Guadeloupe</option>
        
            <option value="Hungary" >Hungary</option>
        
            <option value="Ireland" >Ireland</option>
        
            <option value="Italy" >Italy</option>
        
            <option value="Latvia" >Latvia</option>
        
            <option value="Lithuania" >Lithuania</option>
        
            <option value="Luxembourg" >Luxembourg</option>
        
            <option value="Malta" >Malta</option>
        
            <option value="Martinique" >Martinique</option>
        
            <option value="Netherlands" >Netherlands</option>
        
            <option value="Poland" >Poland</option>
        
            <option value="Portugal" >Portugal</option>
        
            <option value="Reunion" >Reunion</option>
        
            <option value="Romania" >Romania</option>
        
            <option value="Slovak (Republic)" >Slovak (Republic)</option>
        
            <option value="Slovenia" >Slovenia</option>
        
            <option value="Spain" >Spain</option>
        
            <option value="Sweden" >Sweden</option>
        
            <option value="United Kingdom" >United Kingdom</option>
        
    </select>

        <span class="help-inline"></span>
        <span class="help-block"></span> 
    </div>
</div>
  
  
  
  <div class="control-group">
    <div class="controls">
      
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </div>
</form>
		</div>
	</div>
</div>

}

