@(form: Form[Application.Login]) 
@main("éToile Platform") {

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/">éToile Platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
                    </li>
                    <li><a href="/statistics">Statistics</a>
                    </li>
                    <li><a href="/help" target="_blank">Help</a>
					</li>
					<li><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/register" role="button" class="btn btn-primary">Register</a> } 
<!-- 					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> } -->
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<br>
<h3>Please insert your credentials</h3>
<div class="container">
		 <div class="row">
		<div class="span6" >
			@helper.form(routes.Application.authenticate,'class->"form-horizontal") {

			

			@if(form.hasGlobalErrors) {
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>Error!</strong> @form.globalError.message
			
			</div>
			} @if(flash.contains("success")) {
			<div class="alert alert-success">
			<strong>Success!</strong> @flash.get("success")
			</div>
			}
			<div class="control-group">
				<label class="control-label">Email</label>
				<div class="controls">
					<input type="email" class="span3" name="email" placeholder="Email"
						    type="email" required
  data-validation-email-messagee= "You must enter your email address" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" class="span3">Password</label>
				<div class="controls">
					<input type="password" name="password" placeholder="Password" required data-validation-required-message="You must enter your password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<!--       <label class="checkbox"> -->
					<!--         <input type="checkbox"> Remember me -->
					<!--       </label> -->
					<button class="btn btn-primary" type="submit">Login</button>
					<p>
					<div align="">
						Forgot password? <a data-toggle="modal" href="#modalResetPassword" >Click here to reset</a>
					</div>
					<div align="">
						New User? <a href="/register">Click here to
							register</a>
					</div>
				</div>
			</div>
			}
			
			<div id="modalResetPassword" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Reset your password.</h3>
			</div>
			<p></p>
			<fieldset>
						@helper.form(routes.Register.resetpassword(),'class->"form-horizontal"){
			
				<div class="control-group">
					<!-- Text input-->
					<label class="control-label" for="input01">Your e-mail: </label>
					<div class="control-group">
					<div class="controls" >
						<input name="email" type="email" value=""
							class="input-xlarge" required>
						<p class="help-block">An e-mail will send to you with your new password!</p>
					</div>
					</div>
					
					<div class="control-group">
					<label class="control-label"></label>

					<!-- Button -->
					<div class="controls">
						<button class="btn btn-success">Send</button>
					</div>
				</div>
				</div>
				}
				</fieldset>
			
			
			</div>
			
		</div>
			<div class="span6">
			<div class="well">
				  <p></p>
              <legend>New to &eacute;toile? <a href="/register">Create a free account!</a></legend> 
              If you don't have an account in the &eacute;toile platform, you can <a href="/register">register</a> quickly. There are many features that are available in the student's area. 
              <p>
                <ul>
                <p>
                  <li>Access to pedagogical resources for Master and PhD levels.</li>
                </p>
                <p>
                  <li>Check your knowledge using the &eacute;toile evaluation tests.</li>
                </p>
                <p>
                  <li>Interact with a worldwide community of students and scientific researchers within the <a href="http://unitwin-cs.org">Digital Campus</a>.</li>
                </p>
              </ul>
            </p>
            </div>
			</div>
			
		
		</div>

</div>


}

