@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">  
<!--  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/themeetoile.css")">  -->


<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"> -->
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/docs.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/prettify.css")">

<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<link href="http://nijikokun.github.com/bootstrap-notify/css/bootstrap-notify.css" rel="stylesheet">
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>


</head>
<body data-spy="scroll" data-target=".sidebar-nav" onload="changetab(document.location.href)">

	<div class="container">
	@content
</div>
<!-- 	 <footer > -->
<!-- 		<div class="container"> -->
<!-- 			<ul class="footer-links"> -->
<!-- 				<li><a href="/">&copy; <b><i>&eacute;</i></b>toile - <b><i>&eacute;</i></b>nhanced <b>t</b>echnology for <b>o</b>pen <b>i</b>ntelligent <b>l</b>earning <b>e</b>nvironments 2011-14</a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
<!-- 	</footer> -->

<script type="text/javascript" src="@routes.Assets.at("javascripts/widgets.js")"></script>
<script src="https://raw.github.com/ReactiveRaven/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
<!-- <script src="@routes.Assets.at("javascripts/prettify.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-alert.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")"></script> -->
<script src="@routes.Assets.at("javascripts/bootstrap-tab.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-button.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script> -->
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
  <script src="http://sorich87.github.com/bootstrap-tour/deps/jquery.cookie.js"></script>
    <script src="http://sorich87.github.com/bootstrap-tour/bootstrap-tour.js"></script>
<!-- <script src="@routes.Assets.at("javascripts/bootstrap-affix.js")"></script> -->
<!-- <script src="@routes.Assets.at("javascripts/js/application.js")"></script> -->
<!-- <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script> -->
<!-- MathJax	 -->
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full">
</script>	

<script type="text/javascript" src="http://www.dangrossman.info/wp-content/themes/2012/date.js"></script>
<script type="text/javascript" src="http://www.dangrossman.info/wp-content/themes/2012/daterangepicker.js"></script>
<link rel="stylesheet" href="http://www.dangrossman.info/wp-content/themes/2012/daterangepicker.css">

<!-- FLAGS LANGUAGES-->
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-formhelpers-countries.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-formhelpers-countries.en_US.js")"></script>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-formhelpers-countries.flags.css")">

	<script> function changetab (url){
	var queryStart   = url.indexOf("#")+1;
	  var query      = url.substring(queryStart,url.length);

	switch (query) {
	case "news":
		$('#tabs a[href="#news"]').tab('show');
		break;
	case "resources":
		$('#tabs a[href="#resources"]').tab('show');
		break;
	case "tests":
		$('#tabs a[href="#tests"]').tab('show');
		break;
	case "suggested":
		$('#tabs a[href="#suggested"]').tab('show');
	}
	}
	</script>
	<script type="text/javascript">
			function dates(start, end) {
				console.log("start: " + start);
				
// 		console.log(s);
	    $('#reservation').daterangepicker({
		    format:'dd/MM/yyyy',
		    startDate: Date.parse(start),
		    endDate: Date.parse(end),
	    });
	}
	</script>
	
<script>
 $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>

  <link href="@routes.Assets.at("stylesheets/jquery.tweet.css")" rel="stylesheet"/>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tweet.js")"></script>
  
<script>
	$('.popover-test').popover({
		target: "click"
		});
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.tip').tooltip();
        
    });
</script>

	
</body>

</html>
