@(modules: List[models.module.Module],categories: List[models.curriculum.Category]) 
@main("etoile project") {

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="/digitalcampus">Digital Campus</a>
					</li>
					<li class="active"><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">

			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Categories (@categories.size)</li>
					@for(category <- categories) {
										<li><a href="/curriculum#@category.keyword">@category.name</a></li> }

				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
	
	<div class="span9">
	<div id="myCarousel" class="carousel slide" >
                <div class="carousel-inner" >
                <div class="item active"  style="max-height: 300px;min-height: 300px; min-width: 700px" >
                    <img src="http://resources2.news.com.au/images/2011/12/17/1226224/763178-student-survey.jpg" alt="" width="700px" height="300px">
                    <div class="carousel-caption">
                      <h4>New Modules</h4>
                      <p>Aply for a new module today!</p>
                    </div>
                  </div>
                @for(module <- modules) {
              
                  <div class="item"  style="max-height: 300px;min-height: 300px">
                    <img src="@module.imageURL" alt="@module.name" width="700px" height="300px">
                    <div class="carousel-caption">
                      <h4>@module.name</h4>
                      <div>
                      <div class="span8">
                      <p>@module.description</p>
                      </div>
                      <div class="span3 pull-right">
                      <a class="btn btn-info" class="pull-right" href="@routes.Application.module(module.acronym)">View details &raquo;</a>
                      </div>
                      </div>
                    </div>
                  </div>
                  }
            
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
              
			<div class="row-fluid">
				 <ul class="thumbnails">
        @for(module <- modules) {
            <li class="span4">
		<div class="carousel-inner">
		     <div class="item"  style="min-height: 150px; max-height: 150px">
		     <a href="@routes.Application.module(module.acronym)">
                    <img src="@module.imageURL" alt="">
                    <div class="carousel-caption">
                      <h4>@module.name</h4>
                      <p>@module.university.name</p>
                    </div>
                    </a>
                  </div>
		</div>
		</li>
		}
		</ul>


			</div>
		</div>
		}