@(user: User)

	<div class="span3">
			
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">
					@user.name</li>
					<li><a href="#">My Profile</a></li>
				</ul>
			</div>
			<div class="well sidebar-nav" style="background: #0088CC;">
				<ul class="nav nav-list">
					<li class="nav-header" style="color: white; text-shadow: #0088CC;">My
						Modules</li> @for(module <- user.professorProfile.modules) {
					<li><a href="@routes.Application.module(module.acronym)"
						style="text-shadow: #0088CC; color: #999999">@module.name</a></li> }
				</ul>
			</div>
		</div>