@(user: User,active: String)

	<div class="span3">
			
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">
					@user.name</li>
					<li><a href="/myprofile">My Profile</a></li>
                    <li><a href="/addResource" id="addResource">Add Resource</a></li>
				</ul>
			</div>
			<div class="well sidebar-nav" >
				<ul class="nav nav-list">
					<li class="nav-header" >My
						Modules</li> @for(module <- user.professorProfile.modules) {
@if(active.equals(module.acronym)){
					<li class="active"><a><i class="icon-chevron-down" data-target="#@module.acronym" data-toggle="collapse"></i>@module.name</a></li>
					<ul class="nav nav-list collapse in" id="@module.acronym"> 
					<li><a href="@routes.ForumController.forum(module.acronym)">Forum</a></li>
					<li><a href="@routes.Application.module(module.acronym)#lessons">Lessons</a></li>
					</ul>
				}@if(!active.equals(module.acronym)){
					<li>
					<span><i class="icon-chevron-down" data-target="#@module.acronym" data-toggle="collapse" ></i><a  href="@routes.Application.module(module.acronym)"> @module.name</a></span>
					</li>
					<ul class="nav nav-list collapse" id="@module.acronym"> 
					<li><a href="@routes.ForumController.forum(module.acronym)">Forum</a></li>
					<li><a href="@routes.Application.module(module.acronym)#lessons">Lessons</a></li>
					</ul>
					}
					
					
					}
				</ul>
			</div>
		</div>