@(user: models.User, ressources: List[models.curriculum.Curriculumtopic], lessonscontent: List[models.module.Lessoncontent], modules: List[models.module.Module], categories: List[models.curriculum.Category], continents: List[models.continent.Continent])

@main("éToile platform") {
    <link href="@routes.Assets.at("stylesheets/caption-effect.css")" rel="stylesheet" type="text/css" media="screen" />
    <div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse"
                data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> </a>
                    <!-- <a class="brand" href="/">etoile platform</a> -->
                <a class="brand" href="/">éToile Platform</a>

                    <!-- Menu na barra de cima -->
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/">Home</a>
                        </li>
                        <li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
                        </li>
                        <li><a href="/modules">Modules</a>
                        </li>
                            <!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
                        <li><a href="/news">News</a>
                        </li>
                        <li><a href="/about">About</a>
                        </li>
                        <li><a href="/statistics">Statistics</a>
                        </li>
                        <li><a href="/help" target="_blank">Help</a>
                        </li>
                        <li><a href="/contact">Contact</a>
                        </li>
                    </ul>
                        <!--
                <div class="navbar-form pull-right">
                    <a href="login" role="button" class="btn btn-primary">Login</a>
                </div>
                -->
                    <form class="navbar-form pull-right">
                        @if(session.get("email") == null) {
                            <a href="/login" role="button" class="btn btn-primary">Login</a>
                        }
                        @if(session.get("email") != null) {
                            <a href="/logout" role="button" class="btn btn-primary">Logout</a>
                        }
                    </form>
                </div>
                    <!--/.nav-collapse -->

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row-fluid">
            @if(user!=null && user.account_type == 0){
            @usermenu(user,categories,"")

            }
            @if(user != null && user.account_type == 1){
            @professormenu(user,"")
            }
            @if(user == null){
            @staticmenu(categories,continents)
            }

            <div class="span9">

                <div class="page-header">
                    <h2>
                        Reputation <br>
                        <small>reputation of researchers, students and professors concerning their commitment to the <i></i><b>
                            é</b></i>Toile  community </small>
                    </h2>

                </div>


                <p>

                    The values in column <i>Reputation</i> are related to the contribution of each researcher, student or
                    professor to the Curriculum in éToile,
                    either by sharing new pedagogical resources, or by obtaining "likes" in these resources.
                </p>
                <p>
                    Adding a new resource to the éToile Curriculum will increase one point to your reputation.
                </p>
                <p>
                    Obtaining a "like" in one of the resources you've added to the éToile Curriculum will increase one point to
                    your reputation.
                </p>
                <p>
                    Check the <a href="/help" target="_blank">Help</a> for an explanation about how to append resources to the éToile Curriculum.
                </p>

                Go to table: <a href="#table_reputation_students">researchers/students reputation</a> | <a href="#table_reputation_professors">professors reputation</a>

                <br></br> <br></br>


                <div id="table_reputation_students">
                    <p><h4>Researchers/Students</h4></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Reputation</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for((student, index) <- models.Student.find.orderBy("user.commitmentReputation DESC").findList().zipWithIndex) {
                            @if(!student.user.tester) {
                                <tr>
                                    <td>
                                    @(index + 1)
                                    </td>
                                    <!-- the following line is to be activated latter -->
                                    <!-- <td><a href="/students/@student.user.username">@student.firstname @student.lastname</a></td> -->
                                    <!-- and this is to be removed -->
                                    <td>@student.firstname @student.lastname</td>
                                    <td>@student.user.commitmentReputation</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>

                </div>



                <br></br>

                <div id="table_reputation_professors">
                    <p><h4>Professors</h4></p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>

                                <th>Reputation</th>
                            </tr>
                        </thead>
                        <tbody>

                        @for((professor, index) <- models.Professor.find.orderBy("user.commitmentReputation DESC").findList().zipWithIndex) {
                            @if(professor.user != null && !professor.user.tester) {
                                @professor.refresh()
                                <tr>
                                    <td>
                                    @(index + 1)
                                    </td>
                                    <td><a href="/professors/@professor.acronym">@professor.firstname @professor.lastname</a></td>
                                    <td>@professor.user.commitmentReputation</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>

}