@(categories: List[models.curriculum.Category], continents: List[models.continent.Continent])

	<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Community</li>
					<li><a href="/register">* Why should you join
							&eacute;toile</a></li>
					<li><a href="#">* Is it free ?</a></li>
					<li><a href="/register">* How to register in &eacute;toile</a></li>
					<li><a href="#">* Forum</a></li>
					<li><a href="#">* Twitter</a></li>
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Categories in the Curriculum
						(@categories.size)</li> @for(category <- categories) {
					<li><a href="/curriculum#@category.keyword">@category.name</a>
					</li> }
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Universities within the digital campus</li>
					@for(continent <- continents) {
					<li><a href="/@continent.acronym">@continent.name
							(@continent.universities.size)</a></li> }
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Digital Library</li>
					<li><a href="/curriculum">Curriculum in Complex Systems
							Sciences</a></li>
					<li><a href="#">* Manuals - How to use the &eacute;toile
							Platform</a></li>
					<li><a href="#">* Video: "&eacute;toile Cascades Ideas",
							Jeff Johnson at ECCS'11</a></li>
					<li><a href="#">* Other resources</a></li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->