@(categories: List[models.curriculum.Category], continents: List[models.continent.Continent])

	<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Community</li>
					<li><a href="/register">Register</a></li>
					<!--   <li><a href="#">* Forum</a></li>  -->
					<li><a href="https://twitter.com/etoileplatform" target="_blank">Twitter</a></li>
                    <li><a href="http://www.scoop.it/t/etoile-platform" target="_blank">Scoop.it</a></li>
                    <li><a href="/reputation">Reputation of users</a></li>
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header"><a href="/curriculum">Curriculum in Complex Systems Sciences</a></li>
					<li class="nav-header">Categories (@categories.size)</li> @for(category <- categories) {
					<li><a href="/curriculum#@category.keyword">@category.name</a>
					</li> }
				</ul>
			</div>
			<!--/.well -->
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Universities within the digital campus</li>
					@for(continent <- continents) {
					<li><a href="/@continent.acronym">@continent.name
							(@continent.universities.size)</a></li> }
				</ul>
			</div>
			
			<!--/.well -->
			<!--  
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Digital Library</li>
					<!--<li><a href="/curriculum">Curriculum in Complex Systems
							Sciences</a></li>
					-->
					<!--<li><a href="#">* Manuals - How to use the &eacute;toile Platform</a></li> -->
					<!--   <li><a href="#">* Video: "&eacute;toile Cascades Ideas", Jeff Johnson at ECCS'11</a></li> -->
					<!--   <li><a href="#">* Other resources</a></li> -->
			<!-- 	</ul>
			</div> -->
			
			<a class="twitter-timeline" data-dnt="true"  data-widget-id="314504180662411265"></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			
				
			<!--/.well -->
		</div>
		<!--/span-->