@(user: User,categories: List[models.curriculum.Category],active:String)

<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header" title="This is the final evaluation of Lesson number 2.">@user.name</li>
			<li><a href="/myprofile">My Profile</a></li>
		</ul>
	</div>
	<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">My Modules</li> 
				@for(module <- user.modules) {
				@if(active.equals(module.acronym)){
					<li class="active"><a><i class="icon-chevron-down" data-target="#@module.acronym" data-toggle="collapse"></i>@module.name</a></li>
					<ul class="nav nav-list collapse in" id="@module.acronym"> 
					<li><a href="@routes.ForumController.forum(module.acronym)">Forum</a></li>
					<li><a href="@routes.Application.module(module.acronym)#lessons">Lessons</a></li>
					</ul>
				}@if(!active.equals(module.acronym)){
					<li>
					<span><i class="icon-chevron-down" data-target="#@module.acronym" data-toggle="collapse" ></i><a  href="@routes.Application.module(module.acronym)"> @module.name</a></span>
					</li>
					<ul class="nav nav-list collapse" id="@module.acronym"> 
					<li><a href="@routes.ForumController.forum(module.acronym)">Forum</a></li>
					<li><a href="@routes.Application.module(module.acronym)#lessons">Lessons</a></li>
					</ul>
					}
					
					
					}
			</ul>
		</div>



	@if(user.haveAnswersToMark()) {
		<div class="well sidebar-nav" style="background: #DEDE04;">
			<ul class="nav nav-list">
				<li class="nav-header" style="color: white; text-shadow: #0088CC;">My
					Answers to Mark</li>
				<li><a href="@routes.StudentMarkerController.answersToMark()"
					style="text-shadow: #0088CC; color: #999999">You have answers
						to mark</a></li>
			</ul>
		</div>
		}

		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Categories (@categories.size)</li>
				@for(category <- categories) {
				<li><a href="/curriculum#@category.keyword">@category.name</a></li>
				}

			</ul>
		</div>
		<!--/.well -->
</div>