@(user: User,module: models.module.Module, lesson: models.module.Lesson,
test: models.test.Test, group: models.test.question.QuestionGroup,
usertest: models.manytomany.Usertest) @main("éToile Platform"){

<script type="application/x-javascript">


var widgetT;
var options;
var enable;
var stepClick;
var nextT;
var prevT;

function validateUrl(questionnumber) {
	var url = document.getElementById("urlInput"+questionnumber).value;
	if(url.search("http://")!=-1){
		url=url.slice(7,url.length);
	}
	var regexp = /^[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/;
	var result = regexp.test(url);
	if(url.match("wikipedia")!=null) result=true;
	if(result) {
		$('#Loading'+questionnumber).html("<img src=\"/assets/images/Loader.gif\"></img>");
		$("#ErrorMessage"+questionnumber).empty();
		$.ajax({
			type: 'GET',
			url: 'http://tina.iscpif.fr/getJsonFromUrl/textCrawler.php',
			//url: 'http://localhost/getJsonFromUrl/textCrawler.php',
			data: "url="+encodeURIComponent(url),
			contentType: "application/json",
			dataType: 'jsonp',
			success : function(data){ 
				if(data.url == null) data.url = "";
				if(data.title == null) data.title = data.titleEsc;
				if(data.description == null) data.description = data.descriptionEsc;
				if(data.title == null) data.title = "";
				if(data.description == null) data.description = "";
				if(data.images == null || data.images==false) data.images = "";
				else {
					console.log(data.images);
					images = data.images.split("|");
					console.log(images.length);
					if(images.length>1){
						document.getElementById("image"+questionnumber).value=images[0];
						$('#theImage'+questionnumber).html("<img src=\""+images[0]+"\""+"</img>");
					}
					else {
						document.getElementById("image"+questionnumber).value=data.images;
						$('#theImage'+questionnumber).html("<img width=150 src=\""+data.images+"\""+"</img>");
					}
				document.getElementById("url"+questionnumber).value=data.url;
				document.getElementById("name"+questionnumber).value=data.title;
				document.getElementById("descriptionUrl"+questionnumber).value=data.description;
				$('#Loading'+questionnumber).html("");
				$("#formBlock"+questionnumber).show(); 
                                }
                        },
			error: function(){ 
				initAddUrl();
				$("#ErrorMessage"+questionnumber).empty().text("Page Not found.");
			}
	    	});
	}
	else {
		$("#ErrorMessage"+questionnumber).empty().text("Not a valid url");
		$("#formBlock"+questionnumber).hide();
	}

}
function initAddUrl(questionnumber){
	document.getElementById("urlInput"+questionnumber).value="";
	document.getElementById("name"+questionnumber).value="";
	document.getElementById("url"+questionnumber).value="";
	document.getElementById("descriptionUrl"+questionnumber).value="";
	document.getElementById("image"+questionnumber).value="";

	$('#theImage'+questionnumber).html("");
	$("#formBlock"+questionnumber).hide();
}

function TwitterQuery(keywords){

function onKeyUpInput(event) {
    if(event.keyCode == 13){
        $("#triggerButton").click();
    }
}
	var aux=keywords.split(","); 
	//console.log(aux);
	document.getElementById("searchingT").value=aux[0];
	if(aux.length>1){ 
		var temporal="";
		for(i=0;i<aux.length;i++) {
			temporal+='<a class="badge badge-info" href=\"#\" onclick=\'$(\"#tweets\").empty().text("loading ...");document.getElementById(\"searchingT\").value=\"'+aux[i]+'\";startNewQuery(\"'+aux[i]+'\");\'>'+aux[i]+'</a>'+' ';
		}
		$("#keywordsT").html(temporal);
		document.getElementById("labelsT").style.display="block";
	}
	else document.getElementById("labelsT").style.display="none";
	

        options = {
	  //query: ' What is the name of this formula:  `x = (-b +- sqrt(b^2-4ac))/(2a)` ? ',
	  query: aux[0],//document.getElementById("searchingT").value,
          page: 1,
          avatar_size: 55,
          count: 4,
          loading_text: "loading ..."
        };

        widgetT = $("#pagingT .widgetT"),
          nextT = $("#pagingT .nextT"),
          prevT = $("#pagingT .prevT");
//
        enable = function(el, yes) {
          yes ? $(el).removeAttr('disabled') :
                $(el).attr('disabled', true);
        };

        stepClick = function(incr) {
          return function() {
            options.page = options.page + incr;
            enable(this, false);
            widgetT.tweet(options);
          };
        };

        nextT.bind("checkstate", function() {
          enable(this, widgetT.find("li").length == options.count)
        }).click(stepClick(1));

        prevT.bind("checkstate", function() {
          enable(this, options.page > 1)
        }).click(stepClick(-1));


        widgetT.tweet(options).bind("loaded", function() { 
            if($("#tweets").text()=="") {
                $("#tweets").empty().append("No matching tweets found");
            }
            nextT.add(prevT).trigger("checkstate");
        });
}

function startNewQuery(q){
        options = {
	  //query: ' What is the name of this formula:  `x = (-b +- sqrt(b^2-4ac))/(2a)` ? ',
	  query: q,//document.getElementById("searchingT").value,
          page: 1,
          avatar_size: 55,
          count: 4,
          loading_text: "loading ..."
        };
        widgetT.tweet(options);
	
        enable = function(el, yes) {
          yes ? $(el).removeAttr('disabled') :
                $(el).attr('disabled', true);
        };

        stepClick = function(incr) {
          return function() {
            options.page = options.page + incr;
            enable(this, false);
            widgetT.tweet(options);
          };
        };
	nextT.add(prevT).trigger("checkstate");
}


function searchButton(){
	document.getElementById("labelsT").style.display="none";
	startNewQuery(document.getElementById("searchingT").value);
}
					</script>


<script>

function UpdateMath (TeX,number) {	
	console.log(TeX)
	 $("#answer"+ number).empty().text(TeX);
	 MathJax.Hub.Queue(['Typeset', MathJax.Hub]);
	 //unsavedanswers(number,0);

}

function unsavedanswers(number, typeOfQuestion){
	console.log(number);
	console.log(typeOfQuestion);
	$("#unsavedanswers"+number).show();
	$("#savedanswerbutton"+number).hide();
	$("#saveanswerbutton"+number).show();
}

function saveanswer(answer_text, typeOfQuestion ,question_id, question_number){
	console.log("Question: " + question_id);
	console.log(answer_text.value);
	console.log(typeOfQuestion);
	
	// Use jQuery to make an Ajax call to /example
	 
	var callback = function(data) {
	  console.log("Callback fired with: " + data);
	  if(data == "saved"){
		  console.log("EVERYTHING IS OK");
		  $("#savedanswerbutton"+question_number).show();
		  $("#saveanswerbutton"+question_number).hide();
		  $("#unsavedanswers"+question_number).hide();
	  }
	};
	// $.get is a non-blocking, asynchronous call
	//$.get('/modules/:@module.acronym/:@lesson.acronym/test:@test.id/postquestion', callback); 
	
	//var data = $('form').serialize();
	if(typeOfQuestion==0){
	//var str1 = "/saveopenanswer/@usertest.id/";
	//var n = str1.concat(question_id+"/"+answer_text.value);
	//$.post(n, callback); //POST

	
		jQuery.ajax({
			  type: "POST",
			  url: '/saveopenanswer',
			  data: JSON.stringify({"answer": answer_text.value,"usertest": "@usertest.id".toString(),
				  "question":question_id.toString()}),
			  contentType : 'application/json',
			  dataType: 'html',
			  success: function (dataCheck) {
				  console.log("DATACHECK"+dataCheck);
	                 $("#savedanswerbutton"+question_number).show();
	           		 $("#saveanswerbutton"+question_number).hide();
	           		 $("#unsavedanswers"+question_number).hide();
	                
	            }
			  
			 });
		
		  //$("#savedanswerbutton"+question_number).show();
 		  //$("#saveanswerbutton"+question_number).hide();
 		  //$("#unsavedanswers"+question_number).hide();
 		  
	}else{
		//console.log("size: " +answer_text.length);
		var array = new Array();
		var contador =0;
		var form_name = "form"+question_number;
		console.log("form: "+form_name);
		
		var oForm = document.getElementById('form'+question_number);
		if(oForm==null){
			console.log("form is null");
		}else{
			console.log("form is not null");
		}
		with(oForm) {
		for(var i=0;i<mcqanswers.length;i++){
			console.log(mcqanswers[i].value + " - " + mcqanswers[i].checked);
			if(mcqanswers[i].checked){
			array[contador] = mcqanswers[i].value;
			contador++;
			console.log("for");
			}
			
		}
		}
		  jQuery.ajax({
			  type: "POST",
			  url: '/savemultiplechoiceanswer',
			  data: JSON.stringify({"message": "["+array+"]",
				  "question":question_id.toString(),"usertest": "@usertest.id".toString()}),
			  contentType : 'application/json',
			  dataType: 'html',
			  success: function (dataCheck) {
				  console.log("DATACHECK"+dataCheck);
	                  $("#savedanswerbutton"+question_number).show();
	           		  $("#saveanswerbutton"+question_number).hide();
	           		  $("#unsavedanswers"+question_number).hide();
	                
	            }
			  
			 });
		  
		  //$("#savedanswerbutton"+question_number).show();
   		  //$("#saveanswerbutton"+question_number).hide();
   		  //$("#unsavedanswers"+question_number).hide();
		  
	}
	 //jQuery.post("/modules/@module.acronym/@lesson.acronym/test@test.id/postquestion");
	// When this line is executed, we are not garaunteed that the call to /example 
	// has completed
	console.log('This line may execute before the callback!');
}
   
</script>


<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/">éToile Platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li class="active"><a href="/about">About</a>
                    </li>
                    <li><a href="/statistics">Statistics</a>
                    </li>
                    <li><a href="/help" target="_blank">Help</a> </li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <div class="btn-group pull-right">
					<a class="btn dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>
						@user.email <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- dropdown menu links -->
						<a href="@routes.StudentController.settings()#password" role="button"><i class="icon-wrench"></i> Password
							Settings</a>
						<a href="@routes.StudentController.settings()#privacy" role="button"><i class="icon-lock"></i> Privacy
							Settings</a>
							<li class="divider"></li>
							<a href="/logout" role="button" ><i class="icon-off"></i> Logout</a>
					</ul>
				</div> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container">
	<div class="well  ">


		<div class="row-fluid">
			<div class="span4">
				Answered:
				<div class="progress">
					<div class="bar" style="width: @usertest.progress%;"></div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span11">
				<h3>Group @group.number</h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span11">
				<p>@group.question</p>
			</div>
		</div>
		<hr>
		<div class="offset1">
			<!-- Twitter Query -->
			<div style="padding: 20px;" id="TwitterQuery" class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">X</button>
					<h3 id="myModalLabel">Twitter Search !</h3>
				</div>
				<div class="modal-body">
					<fieldset class="form-search">
						<input onclick="this.select();" id="searchingT" type="text"
							class="input-medium search-query">
						<button onclick='searchButton();' type="submit" class="btn">Search</button>
						<br>
						<div id="labelsT">
							<label id="legRel">Related: </label> <label for="legRel"
								id="keywordsT"></label>
						</div>
					</fieldset>
					<div id="pagingT">
						<div id="tweets" class="widgetT query"></div>
						<div class="controlsT pagination">
							<ul>
								<li><a class="prevT" type="button" disabled>&larr;</a></li>
								<li><a class="nextT" type="button" disabled>&rarr;</a></li>
								<ul>
						</div>



					</div>
				</div>
			</div>
			@for(question <- group.questions) {

			<div class="row-fluid">
				<div class="span6">
					<h4>Question @question.number</h4>
				</div>
				<div class="span5">
					<div class="btn-group pull-right">
						<button class="btn btn-small btn-info  dropdown-toggle"
							data-toggle="dropdown">
							help<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#URLTop@question.number" data-toggle="modal">View
									top5 URLs</a></li>
							<li><a href="#URLALL@question.number" data-toggle="modal">View
									All URLs</a></li>

							<li><a href="#ADDURL@question.number"
								onclick="initAddUrl(@question.number);" data-toggle="modal">Add new URL</a></li>
							<li><a href="#TwitterQuery"
								onclick='TwitterQuery("@question.keywords");'
								data-toggle="modal">Ask Twitter</a></li>
							<li class="divider"></li>
							<li><a href="#generalhelp" data-toggle="modal">ASCIIMathML</a></li>
						</ul>
					</div>
					<!-- /btn-group -->
				</div>

				<!-- URL TOP 5 Modal -->
				<div id="URLTop@question.number" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">Top 5</h3>
					</div>
					<div class="modal-body">
						@for(url<- question.getTopUrls(question.id)){
						<div class="well">
							@if(url.isFeatured(url.id)){ <img class="pull-right"
								src="@routes.Assets.at("images/featured_url.png")" height="35" width="35">
							}
							<div class="media">
								<a class="pull-left" href="@url.adress" target="_blank"> <img
									class="media-object" src="@url.imageURL" height="70" width="70">
								</a>

								<div class="media-body">

									<div>

										<a href="@url.adress" target="_blank"><h4
												class="media-heading">@url.name</h4></a>
										<div class="media pull-right">@url.likes likes</div>
										<small>@url.adress</small></br> </br>@url.description 
										@if(!url.voters.contains(user)){
										<a href="@routes.StudentTestController.voteurl(url.id, group.number,test.id, lesson.acronym,module.acronym)"
											class="btn btn-mini btn-primary pull-right">Like</a>
											}else{
											<span class="label label-info pull-right">You like this URL</span>
											}
										<!-- Nested media object -->
										<!-- <div class="media pull-right"></div> -->
									</div>


								</div>
							</div>
						</div>
						}
					</div>
				</div>
				<!-- END TOP 5Modal -->

				<!-- ALL URL Modal -->
				<div id="URLALL@question.number" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">All</h3>
					</div>
					<div class="modal-body">
						@for(url<- question.urls){
						<div class="well">
							<div class="media">
								<a class="pull-left" href="@url.adress" target="_blank"> <img
									class="media-object" src="@url.imageURL" height="70" width="70">
								</a>
								<div class="media-body">
									<div>
										<a href="@url.adress" target="_blank"><h4
												class="media-heading">@url.name</h4></a>
										<div class="media pull-right">@url.likes likes</div>
										<small>@url.adress</small></br> </br>@url.description 
										@if(!url.voters.contains(user)){
										<a href="@routes.StudentTestController.voteurl(url.id, group.number,test.id, lesson.acronym,module.acronym)"
											class="btn btn-mini btn-primary pull-right">Like</a>
											}else{
											<span class="label label-info pull-right">You like this URL</span>
											}
										<!-- Nested media object -->
										<!-- <div class="media pull-right"></div> -->
									</div>


								</div>
							</div>
						</div>
						}
					</div>
				</div>
				<!-- END All URL Modal -->







				<!-- ADD URL Modal -->
				<div id="ADDURL@question.number" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">Add new URL</h3>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="input01">New URL</label>
								<div class="controls">
									<input type="text" placeholder="Insert the new URL"
										class="input-xlarge" id="urlInput@question.number">
									<button onclick="validateUrl(@question.number);" class="btn btn-primary">Submit Url</button><div id="Loading"></div>

										
									<div id="Loading@question.number"></div>
									<label id="ErrorMessage@question.number" class="control-label"></label>
								</div>
							</div>
						</div>
					<form action="@routes.StudentTestController.addurl(group.number, test.id, lesson.acronym, module.acronym, question.id)" method="POST" class="form-horizontal" id="formBlock@question.number" style="display:none;">
						<fieldset>
						<input type="hidden" id="url@question.number" name="url" value="">
						<div class="control-group">
							<label class="control-label" for="input01">Title</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="name@question.number" name="name" value="">
								<p class="help-block">URL title</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="input01">Description</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="descriptionUrl@question.number" name="descriptionUrl"
									value="">
								<p class="help-block">A URL small description</p>
							</div>
						</div>
						<div class="control-group">
							<!-- Text input-->
							<label class="control-label" for="input01">Image url</label>
							<div class="controls">
								<input id="image@question.number" name="image" type="text" value="" class="input-xlarge"
									readOnly="true">
								<p class="help-block">
								<div id="theImage@question.number" width=10px></div>
								</p>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label"></label>

							<!-- Button -->
							<div class="controls">
								<button type="submit" class="btn btn-success">Save</button>
							</div>
						</div>
						</fieldset>
					</form>

					</div>
				</div>
				<!-- END ADD URL Modal -->










				<!-- GENERAL HELP Modal -->
				<div id="generalhelp" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">ASCIIMathML Help</h3>
					</div>
					<div class="modal-body">
						<div class="tabbable" style="margin-bottom: 18px;">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">ASCIIMathML</a></li>
								<li><a href="#tab2" data-toggle="tab">Greek Letters</a></li>
							</ul>
							<div class="tab-content"
								style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
								<div class="tab-pane active" id="tab1">
									<p>
										Please use the <a
											href="http://www1.chapman.edu/~jipsen/mathml/asciimath.html"
											target="_blank">ASCIIMathML</a> language for writing formal
										expressions. Formal expressions should be surrounded by
										"back-ticks", i.e., <span class="asciimath2jax_ignore">`...`</span>.
									</p>

									<p>Examples:</p>
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Type this</th>
												<th>See this</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><span class="asciimath2jax_ignore">`x^2+y_1+z_12^34`</span></td>
												<td>`x^2+y_1+z_12^34`</td>
											</tr>
											<tr>
												<td><span class="asciimath2jax_ignore">`sin^-1(x)`</span></td>
												<td>`sin^-1(x)`</td>
											</tr>
											<tr>
												<td><span class="asciimath2jax_ignore">`d/dxf(x)=lim_(h->0)(f(x+h)-f(x))/h`</span></td>
												<td>`d/dxf(x)=lim_(h->0)(f(x+h)-f(x))/h`</td>
											</tr>
											<tr>
												<td><span class="asciimath2jax_ignore">`f(x)=sum_(n=0)^oo(f^((n))(a))/(n!)(x-a)^n`</span></td>
												<td>`f(x)=sum_(n=0)^oo(f^((n))(a))/(n!)(x-a)^n`</td>
											</tr>
											<tr>
												<td><span class="asciimath2jax_ignore">`int_0^1f(x)dx</td>
												<td>`int_0^1f(x)dx`</td>
											</tr>
											<tr>
												<td><span class="asciimath2jax_ignore">`bb{AB3}.bbb(AB].cc(AB).fr{AB}.tt[AB].sf(AB)`</span></td>
												<td>`bb{AB3}.bbb(AB].cc(AB).fr{AB}.tt[AB].sf(AB)`</td>
											</tr>
										</tbody>
									</table>

								</div>
								<div class="tab-pane" id="tab2">
									<p class="text-warning">
										<span class="label label-warning">Info</span>Do not forget to
										surround your formula with ‚"back-ticks", i.e., <span
											class="asciimath2jax_ignore">`...`</span>.
									</p>
									<table class="table table-condensed table-hover">
										<thead>
											<tr>
												<th>Command</th>
												<th>Effect</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>eta</td>
												<td>`eta`</td>
											</tr>
											<tr>
												<td>gamma</td>
												<td>`gamma`</td>
											</tr>
											<tr>
												<td>Gamma</td>
												<td>`Gamma`</td>
											</tr>
											<tr>
												<td>iota</td>
												<td>`iota`</td>
											</tr>
											<tr>
												<td>kappa</td>
												<td>`kappa`</td>
											</tr>
											<tr>
												<td>lambda</td>
												<td>`lambda`</td>
											</tr>
											<tr>
												<td>Lambda</td>
												<td>`Lambda`</td>
											</tr>
											<tr>
												<td>mu</td>
												<td>`mu`</td>
											</tr>
											<tr>
												<td>nu</td>
												<td>`nu`</td>
											</tr>
											<tr>
												<td>omega</td>
												<td>`omega`</td>
											</tr>
											<tr>
												<td>Omega</td>
												<td>`Omega`</td>
											</tr>
											<tr>
												<td>phi</td>
												<td>`phi`</td>
											</tr>
											<tr>
												<td>varphi</td>
												<td>`varphi`</td>
											</tr>
											<tr>
												<td>Phi</td>
												<td>`phi`</td>
											</tr>
											<tr>
												<td>pi</td>
												<td>`pi`</td>
											</tr>
											<tr>
												<td>Pi</td>
												<td>`Pi`</td>
											</tr>
											<tr>
												<td>psi</td>
												<td>`psi`</td>
											</tr>
											<tr>
												<td>Psi</td>
												<td>`Psi`</td>
											</tr>
											<tr>
												<td>rho</td>
												<td>`rho`</td>
											</tr>
											<tr>
												<td>sigma</td>
												<td>`sigma`</td>
											</tr>
											<tr>
												<td>Sigma</td>
												<td>`Sigma`</td>
											</tr>
											<tr>
												<td>tau</td>
												<td>`tau`</td>
											</tr>
											<tr>
												<td>theta</td>
												<td>`theta`</td>
											</tr>
											<tr>
												<td>vartheta</td>
												<td>`vartheta`</td>
											</tr>
											<tr>
												<td>Theta</td>
												<td>`Theta`</td>
											</tr>
											<tr>
												<td>upsilon</td>
												<td>`upsilon`</td>
											</tr>
											<tr>
												<td>xi</td>
												<td>`xi`</td>
											</tr>
											<tr>
												<td>Xi</td>
												<td>`Xi`</td>
											</tr>
											<tr>
												<td>zeta`</td>
												<td>`zeta`</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
						<!-- /tabbable -->
					</div>
				</div>
				<!-- GENERAL HELP Modal -->

			</div>
			<div class="control-group">
				
				<div class="controls">

					<div class="row-fluid">
						<div class="span11">
							<p>@question.question</p>
							@if(question.imageURL!=null || question.videoURL!=null){
							<div class="alert">
								<strong data-toggle="collapse" data-target="#@question.id">Click
									to expand and view media</strong>
								<button type="button" class="close" data-toggle="collapse"
									data-target="#@question.id">-</button>

								<div id="@question.id" class="collapse row-fluid">
									@if(question.imageURL!=null){
									<div class="span6">
										<p>
											<img src="@question.imageURL" height="300" />
										</p>
									</div>
									} @if(question.videoURL!=null){
									<div class="span6">
										<p>
											<iframe height="300" src="@question.videoURL" frameborder="0"
												allowfullscreen></iframe>
										</p>
									</div>
									}
								</div>

							</div>
							}

						</div>
					</div>
					@if(question.typeOfQuestion==0){
					<div class="row-fluid">
						<div class="span11">
							<div class="span6">

								<textarea class="span50" rows="10" id="qanswer@question.number" name="qanswer" onfocus="unsavedanswers(@question.number, @question.typeOfQuestion)"  onmousemove="UpdateMath(this.value,@question.number);">@question.openanswer.answer</textarea>
							</div>
							<div class="span6">
								<div class="alert alert-block alert-success">
									<button id="save" type="button" class="close" data-dismiss="alert">x</button>
									<h4>Your answer</h4>
									<label id="answer@question.number" >@question.openanswer.answer</label>
								</div>

							</div>
						</div>
					</div>
					} @if(question.typeOfQuestion==1){


					<div class="row-fluid ">
						<div class="span11">
							<p class="text-warning">
								<span class="label label-warning">Warning</span> Identify the
								correct answer (<strong>only one is the correct one</strong>).
							</p>

							<div class="alert alert-info">
								<div onclick="unsavedanswers(@question.number, @question.typeOfQuestion)" class="btn-group" data-toggle="buttons-radio">
									<ul class="inputs-list">
									<form id="form@question.number" name="form@question.number">
										@for(hypothesis <- question.hypothesislist){
										@if(hypothesis.selected){
										<label class="radio"> <input  id="ocqanswer@question.number"  type="radio"
											name="mcqanswers" value="@hypothesis.id" id="optionRadios"
											-							checked="checked"> @hypothesis.text

										</label> } @if(!hypothesis.selected){
										<label class="radio"> <input   type="radio"
											name="mcqanswers" id="ocqanswer@question.number" value="@hypothesis.id" id="optionRadios"-							>
											@hypothesis.text
										</label> } }
										</form>
									</ul>
								</div>
							</div>
						</div>
					</div>



					} @if(question.typeOfQuestion==2){
					<div class="row-fluid ">
						<div class="span11">
							<p class="text-warning">
								<span class="label label-warning">Warning</span> Identify the
								correct answers (<strong>can be more than one</strong>).
							</p>

							<div class="alert alert-info">
							<form id="form@question.number" name="form@question.number">
								@for(hypothesis <- question.hypothesislist){
								@if(hypothesis.selected){ <label class="checkbox"> <input
									type="checkbox"  checked="checked"
									name="mcqanswers" id="mcqanswers@question.number" value="@hypothesis.id"  onclick="unsavedanswers(@question.number, @question.typeOfQuestion)">
									@hypothesis.text
								</label> } @if(!hypothesis.selected){ <label class="checkbox"> <input
									type="checkbox"
									name="mcqanswers" id="mcqanswers@question.number" value="@hypothesis.id"  onclick="unsavedanswers(@question.number, @question.typeOfQuestion)">
									@hypothesis.text
								</label> } }
								</form>
							</div>
						</div>
					</div>
					}

					<div class="row-fluid">
						<div class="span11">
						<p>
				<label id="unsavedanswers@question.number" style="display: none;" class="pull-right">
				<span class="label label-important ">Important</span> Do not to forget to save your answer</label>
				<br>
				</p>
							<p>
								<button id ="savedanswerbutton@question.number" class="btn btn-success pull-right" disabled="disabled" type="submit">Saved
									answer @question.number</button>
									
									@if(question.typeOfQuestion == 0){
									<button style="display: none;" id ="saveanswerbutton@question.number" onclick="saveanswer(qanswer@question.number,@question.typeOfQuestion, @question.id, @question.number)" class="btn btn-success pull-right" type="submit">Save
									answer @question.number</button>
									}
									@if(question.typeOfQuestion==1){
									<button style="display: none;" id ="saveanswerbutton@question.number" onclick="saveanswer(ocqanswer@question.number,@question.typeOfQuestion, @question.id, @question.number)" class="btn btn-success pull-right" type="submit">Save
									answer @question.number</button>
									}
									@if(question.typeOfQuestion==2){
									<button style="display: none;" id ="saveanswerbutton@question.number" onclick="saveanswer(mcqanswers@question.number, @question.typeOfQuestion, @question.id, @question.number)" class="btn btn-success pull-right" type="submit">Save
									answer @question.number</button>
									}
							</p>
						</div>
					</div>

					
					<hr>

				</div>
				}
			</div>
		</div>
		<div class="row-fluid">
			<div class="pagination pagination-centered pagination-small">
				<ul>
					@for(group_aux<-test.groups){ @if(group.number==group_aux.number){
					<li class="active"><a>@group_aux.number</a></li> }
					@if(group.number!=group_aux.number){
					<li><a
						href="@routes.StudentTestController.question(group_aux.number,test.id, lesson.acronym,module.acronym)">@group_aux.number</a></li>
					} }
				</ul>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span11 pull-right">
				<!-- Button to trigger modal -->
				
				<div class="btn-group pull-right">
				
					<a href="#submittest" role="button" class="btn btn-primary"
						data-toggle="modal">Submit test</a> <a
						href="@routes.StudentController.lesson(lesson.acronym,module.acronym)"
						role="button" class="btn">Return to Lesson</a>
				</div>


				<!-- Modal -->
				<div id="submittest" class="modal hide fade" tabindex="-1"
					role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h3 id="myModalLabel">Confirmation</h3>
					</div>
					<div class="modal-body">
						<!-- @if(!usertest.allQuestionsAnswered(usertest.id)){ <h4><b>You
							haven't completed the test.</b></h4> } --> 
						<p>Are you sure you want to submit your test?</p>
						<p>
							<span class="label label-important">Important</span> This Action
							is irreversible!
						</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
						<a class="btn btn-primary"
							href="@routes.StudentTestController.submitTest(test.id,lesson.acronym,module.acronym)">Confirm</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<script>

$(function(){
    var allRadios = $('input[type=radio]')
    var radioChecked;

    var setCurrent = function(e) {
        var obj = e.target;
        radioChecked = $(obj).attr('checked');
    }

    var setCheck = function(e) {
        if (e.type == 'keypress' && e.charCode != 32) {
            return false;
        }
        var obj = e.target;
        if (radioChecked) {
            $(obj).attr('checked', false);
        } else {
            $(obj).attr('checked', true);
        }
    }

    $.each(allRadios, function(i, val) {
        var label = $('label[for=' + $(this).attr("id") + ']');
        $(this).bind('mousedown keydown', function(e){
            setCurrent(e);
        });

        label.bind('mousedown keydown', function(e){
            e.target = $('#' + $(this).attr("for"));
            setCurrent(e);
        });

        $(this).bind('click', function(e){
            setCheck(e);    
        });
    });
});

</script>
}
