@(user: User,module: models.module.Module, lesson: models.module.Lesson,
test: models.test.Test, group: models.test.question.QuestionGroup,
usertest: models.manytomany.Usertest, evaluations: List[models.test.question.QuestionEvaluation]) @main("etoile"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li class="active"><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <div class="btn-group pull-right">
					<a class="btn dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>
						@user.email <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- dropdown menu links -->
						<a href="@routes.StudentController.settings()#password" role="button"><i class="icon-wrench"></i> Password
							Settings</a>
						<a href="@routes.StudentController.settings()#privacy" role="button"><i class="icon-lock"></i> Privacy
							Settings</a>
							<li class="divider"></li>
							<a href="/logout" role="button" ><i class="icon-off"></i> Logout</a>
					</ul>
				</div>}
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container">
	<div class="well  ">


		<div class="row-fluid">
			<div class="span4">
				<div class="progress">
					<div class="bar" style="width: @usertest.progress%;"></div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span11">
				<h3>Group @group.number</h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span11">
				<p>@group.question</p>
			</div>
		</div>
		<hr>
		<div class="offset1">
			@for(question <- group.questions) {
			
			<div class="row-fluid">
			<div class="span6">
					<h4>Question @question.number 
					@if(question.typeOfQuestion != 0){
					@for(evaluation <- evaluations){
						@if(evaluation.question == question && evaluation.isCorrect){
						<button disabled="disabled" class="btn btn-success">Right Answer (+@evaluation.score)</button></h4>
						}
						@if(evaluation.question == question && !evaluation.isCorrect){
						<button disabled="disabled" class="btn btn-danger">Wrong Answer (@evaluation.score)</button></h4>
						}
					}
					}
					@if(question.typeOfQuestion == 0){
					@for(evaluation <- evaluations){
					@if(evaluation.question == question){
						<button disabled="disabled" class="btn btn-info">(+@evaluation.score)</button></h4>
					}
					}
					}
					
				</div>
				<div class="span5">
					<div class="btn-group pull-right">
						<button class="btn btn-small btn-info  dropdown-toggle"
							data-toggle="dropdown">
							help<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#URLTop@question.number" data-toggle="modal">View
									top5 URLs</a></li>
							<li><a href="#URLALL@question.number" data-toggle="modal">View
									All URLs</a></li>
							
							<li><a href="#ADDURL@question.number" data-toggle="modal">Add
									new URLs</a></li>
									<li class="divider"></li>
									<li><a href="#generalhelp" data-toggle="modal">General help</a></li>
						</ul>
					</div>
					<!-- /btn-group -->
				</div>

				<!-- URL TOP 5 Modal -->
				<div id="URLTop@question.number" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">Top 5</h3>
					</div>
					<div class="modal-body">
					@for(url<- question.getTopUrls(question.id)){
						<div class="well">
						@if(url.isFeatured(url.id)){
									<img class="pull-right"
									src=" @routes.Assets.at("images/featured_url.png") "
									 height="35" width="35">
									}
							<div class="media">
								<a class="pull-left" href="@url.adress"> <img class="media-object"
									src="@url.imageURL" height="70" width="70">
								</a>
								
								<div class="media-body">
								
									<div>
									
										<a href="@url.adress"><h4 class="media-heading">@url.name</h4></a>
										<div class="media pull-right">@url.likes likes</div>
										<small>@url.adress</small></br> </br>@url.description
										<button class="btn btn-mini btn-primary pull-right">Like</button>
										<!-- Nested media object -->
										<!-- <div class="media pull-right"></div> -->
									</div>


								</div>
							</div>
						</div>
						}
					</div>
				</div>
				<!-- END TOP 5Modal -->

				<!-- ALL URL Modal -->
				<div id="URLALL@question.number" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">All</h3>
					</div>
					<div class="modal-body">
					@for(url<- question.urls){
						<div class="well">
							<div class="media">
								<a class="pull-left" href="@url.adress"> <img class="media-object"
									src="@url.imageURL" height="70" width="70">
								</a>
								<div class="media-body">
									<div>
										<a href="@url.adress"><h4 class="media-heading">@url.name</h4></a>
										<div class="media pull-right">@url.likes likes</div>
										<small>@url.adress</small></br> </br>@url.description
										<button class="btn btn-mini btn-primary pull-right">Like</button>
										<!-- Nested media object -->
										<!-- <div class="media pull-right"></div> -->
									</div>


								</div>
							</div>
						</div>
						}
					</div>
				</div>
				<!-- END All URL Modal -->

				<!-- ALL URL Modal -->
				<div id="ADDURL@question.number" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">Add new URL</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<fieldset>
								<div class="control-group">

									<!-- Text input-->
									<label class="control-label" for="input01">New URL</label>
									<div class="controls">
										<input type="text" placeholder="Insert the new URL"
											class="input-xlarge">
										<p class="help-block">A valid URL that you used to answer
											this question</p>
									</div>
								</div>

								<div class="control-group">
									<label class="control-label"></label>

									<!-- Button -->
									<div class="controls">
										<button class="btn btn-success">Add</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<!-- END All URL Modal -->
				
				<!-- GENERAL HELP Modal -->
				<div id="generalhelp" class="modal hide fade">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">X</button>
						<h3 id="myModalLabel">Help</h3>
					</div>
					<div class="modal-body">
					<div class="tabbable" style="margin-bottom: 18px;">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">ASCIIMathML</a></li>
                <li><a href="#tab2" data-toggle="tab">Greek Letters</a></li>
              </ul>
              <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane active" id="tab1">
                  <p>For mathematics written in this form, you mark your mathematical expressions by surrounding them in ‚"back-ticks", i.e., <span class="asciimath2jax_ignore">`...`</span>.</p>
                  
                   <table class="table table-hover">
              <thead>
                <tr>
                  <th>Type this</th>
                  <th>See this</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> x^2+y_1+z_12^34</td>
                  <td>`x^2+y_1+z_12^34`</td>
                </tr>
                <tr>
                  <td>sin^-1(x)</td>
                  <td>`sin^-1(x)`</td>
                </tr>
                <tr>
                  <td>d/dxf(x)=lim_(h->0)(f(x+h)-f(x))/h</td>
                  <td>`d/dxf(x)=lim_(h->0)(f(x+h)-f(x))/h`</td>
                </tr>
                 <tr>
                  <td>f(x)=sum_(n=0)^oo(f^((n))(a))/(n!)(x-a)^n</td>
                  <td>`f(x)=sum_(n=0)^oo(f^((n))(a))/(n!)(x-a)^n`</td>
                </tr>
                 <tr>
                  <td>int_0^1f(x)dx</td>
                  <td>`int_0^1f(x)dx`</td>
                </tr>
                 <tr>
                  <td>bb{AB3}.bbb(AB].cc(AB).fr{AB}.tt[AB].sf(AB)</td>
                  <td>`bb{AB3}.bbb(AB].cc(AB).fr{AB}.tt[AB].sf(AB)`</td>
                </tr>
              </tbody>
            </table>
                  
                </div>
                <div class="tab-pane" id="tab2">
                  <p class="text-warning">
						<span class="label label-warning">Info</span>Do not forget to surround your formula with ‚"back-ticks", i.e., <span class="asciimath2jax_ignore">`...`</span>.
					</p>
                   <table class="table table-condensed table-hover">
										<thead>
											<tr>
												<th>Command</th>
												<th>Effect</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>eta</td>
												<td>`eta`</td>
											</tr>
											<tr>
												<td>gamma</td>
												<td>`gamma`</td>
											</tr>
											<tr>
												<td>Gamma</td>
												<td>`Gamma`</td>
											</tr>
											<tr>
												<td>iota</td>
												<td>`iota`</td>
											</tr>
											<tr>
												<td>kappa</td>
												<td>`kappa`</td>
											</tr>
											<tr>
												<td>lambda</td>
												<td>`lambda`</td>
											</tr>
											<tr>
												<td>Lambda</td>
												<td>`Lambda`</td>
											</tr>
											<tr>
												<td>mu</td>
												<td>`mu`</td>
											</tr>
											<tr>
												<td>nu</td>
												<td>`nu`</td>
											</tr>
											<tr>
												<td>omega</td>
												<td>`omega`</td>
											</tr>
											<tr>
												<td>Omega</td>
												<td>`Omega`</td>
											</tr>
											<tr>
												<td>phi</td>
												<td>`phi`</td>
											</tr>
											<tr>
												<td>varphi</td>
												<td>`varphi`</td>
											</tr>
											<tr>
												<td>Phi</td>
												<td>`phi`</td>
											</tr>
											<tr>
												<td>pi</td>
												<td>`pi`</td>
											</tr>
											<tr>
												<td>Pi</td>
												<td>`Pi`</td>
											</tr>
											<tr>
												<td>psi</td>
												<td>`psi`</td>
											</tr>
											<tr>
												<td>Psi</td>
												<td>`Psi`</td>
											</tr>
											<tr>
												<td>rho</td>
												<td>`rho`</td>
											</tr>
											<tr>
												<td>sigma</td>
												<td>`sigma`</td>
											</tr>
											<tr>
												<td>Sigma</td>
												<td>`Sigma`</td>
											</tr>
											<tr>
												<td>tau</td>
												<td>`tau`</td>
											</tr>
											<tr>
												<td>theta</td>
												<td>`theta`</td>
											</tr>
											<tr>
												<td>vartheta</td>
												<td>`vartheta`</td>
											</tr>
											<tr>
												<td>Theta</td>
												<td>`Theta`</td>
											</tr>
											<tr>
												<td>upsilon</td>
												<td>`upsilon`</td>
											</tr>
											<tr>
												<td>xi</td>
												<td>`xi`</td>
											</tr>
											<tr>
												<td>Xi</td>
												<td>`Xi`</td>
											</tr>
											<tr>
												<td>zeta`</td>
												<td>`zeta`</td>
											</tr>
										</tbody>
            </table>
                </div>
                
              </div>
            </div> <!-- /tabbable -->
					</div>
				</div>
				<!-- GENERAL HELP Modal -->
				
			</div>
			<div class="control-group">
							@helper.form(routes.StudentTestController.postquestion(group.number, module.acronym,
							lesson.acronym,test.id,usertest.id,question.id)) {
							<div class="controls">

			<div class="row-fluid">
				<div class="span11">
					<p>@question.question</p>
					@if(question.imageURL!=null || question.videoURL!=null){
					<div class="alert">
						<strong data-toggle="collapse" data-target="#@question.id">Click
							to expand and view media</strong>
						<button type="button" class="close" data-toggle="collapse"
							data-target="#@question.id">-</button>

						<div id="@question.id" class="collapse row-fluid">
							@if(question.imageURL!=null){
							<div class="span6">
								<p>
									<img src="@question.imageURL" height="300" />
								</p>
							</div>
							} @if(question.videoURL!=null){
							<div class="span6">
								<p>
									<object style="float: none;">
										<param name="movie" value="@module.videoURL" />
										<embed src="@question.videoURL"
											type="application/x-shockwave-flash" wmode="transparent"
											height="300">
									</object>

								</p>
							</div>
							}
						</div>

					</div>
					}

				</div>
			</div>
			@if(question.typeOfQuestion==0){
			<div class="row-fluid">
				<div class="span11">
					<div class="span12">

						<textarea disabled = "disabled" class="span50" rows="10" name="qanswer">@question.openanswer.answer</textarea>
					</div>
					
				</div>
			</div>
			} @if(question.typeOfQuestion==1){
			
							
			<div class="row-fluid ">
				<div class="span11">
					

					<div class="alert alert-info">
					<div class="btn-group" data-toggle="buttons-radio">
					<ul class="inputs-list">
						@for(hypothesis <- question.hypothesislist){ 
						@if(hypothesis.isCorrect){
						<div class="alert alert-success">
						}
						@if(!hypothesis.isCorrect){
						<div class="alert alert-error">
						}
						@if(hypothesis.selected){
						<label class="radio">
							<input disabled="disabled" type="radio" name="ocqanswer" value="@hypothesis.id" id="optionRadios" checked="checked"> @hypothesis.text
						</label> 
						</div>
						}
						@if(!hypothesis.selected){
						<label class="radio">
							<input disabled="disabled" type="radio" name="ocqanswer" value="@hypothesis.id" id="optionRadios" > @hypothesis.text
							
						</label> 
						</div>
						}
						}
					</ul>
					</div>
					</div>
				</div>
			</div>
			
			
			
			} @if(question.typeOfQuestion==2){
			<div class="row-fluid ">
				<div class="span11">
					
						<div class="alert alert-info">
						@for(hypothesis <- question.hypothesislist){ 
						@if(hypothesis.isCorrect){
						<div class="alert alert-success">
							}
							@if(!hypothesis.isCorrect){
							<div class="alert alert-error">
							}
						@if(hypothesis.selected){
						<label
							class="checkbox"> <input disabled="disabled" type="checkbox"
							id="optionsRadios1" name="mcqanswers[@hypothesis.number]" value="@hypothesis.id" checked="checked">
							@hypothesis.text
						</label>
						</div> }
						@if(!hypothesis.selected){
						<label
							class="checkbox"> <input disabled="disabled" type="checkbox"
							id="optionsRadios1"name="mcqanswers[@hypothesis.number]" value="@hypothesis.id"">
							@hypothesis.text
						</label>
						</div>
						}
						}
					</div>
				</div>
			</div>
			}
			
			
			
		}
			<hr>
			
		</div>
		}
</div>
</div>
		<div class="row-fluid">
			<div class="pagination pagination-centered pagination-small">
				<ul>
					@for(group_aux<-test.groups){ @if(group.number==group_aux.number){
					<li class="active"><a>@group_aux.number</a></li> }
					@if(group.number!=group_aux.number){
					<li><a
						href="@routes.StudentTestController.questionanalysis(group_aux.number,test.id, lesson.acronym,module.acronym)">@group_aux.number</a></li>
					} }
				</ul>
			</div>
			</div>
			<div class="row-fluid">
		<div class="span11 pull-right">
 	   <a href="@routes.StudentController.lesson(lesson.acronym,module.acronym)" role="button" class="btn btn-primary pull-right" data-toggle="modal">Return to Lesson</a>
<!-- Modal -->
<div id="submittest" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirmation</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to submit your test?</p>
    <p><span class="label label-important">Important</span> This Action is irreversible!</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a class="btn btn-primary" href="@routes.StudentTestController.submitTest(test.id,lesson.acronym,module.acronym)">Confirm</a>
  </div>
</div>
		</div>
		</div>
	
</div>
</div>
		
}
