@(categories: List[models.curriculum.Category], continents: List[models.continent.Continent] ) @main("etoile"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li class="active"><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		@staticmenu(categories,continents)
		<!--/span-->
		<div class="span9">
			<div class="page-header">
				<h2>
					About étoile <br>
					<small>Enhanced Technology for Open Intelligent Learning
						Environments</small>
				</h2>

			</div>
			<p></p>
			<p>The <b>étoile platform</b> is an open, interactive, new way of sharing 
				educational resources for Master and PhD levels in Complexity Sciences domains.
			</p> 
			<p>	
				In different modules, students and researchers can:
				<ul>
				 	<li>check their knowledge using the étoile evaluation tests;</li>
				 	<li>interact with other people studying the same subjects;</li>
				 	<li>use the étoile facilities for studying and researching on the Internet;</li>
				 	<li>contribute for an ecology of pedagogical resources;</li>
				 	<li>certificated their mastery of a core curriculum in Complexity Sciences;</li>
				 	<li>interact with a worldwide community of students and scientific researchers within the CS-Digital Campus.</li>
				</ul>
			</p>	
		</div>
	</div>
</div>
}
