@(categories: List[models.curriculum.Category], continents: List[models.continent.Continent] ) @main("etoile"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li class="active"><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		@staticmenu(categories,continents)
		<!--/span-->
		<div class="span9">
			<div class="page-header">
				<h2>
					About étoile <br>
					<small>Enhanced Technology for Open Intelligent Learning
						Environments</small>
				</h2>

			</div>
			<p></p>
			<p>The <b>étoile platform</b> is e a remarkable new way of automatically
				creating educational resources. It is scalable so that the cost of
				educating large numbers of students is very low. It is adaptive to
				changes in the curriculum in fast-moving research fields creating
				new learning resources as new topics emerge, and it is adaptive to
				students by creating learning resource that reflects their personal
				styles of learning, background knowledge, and language. Étoile is a
				big step towards personalised learning.</p>
			<p>The <b>étoile platform</b> can be used during a long term programme of professional training and recognition.
				Students with certificated mastery of the core curriculum are
				highly attractive as post-docs. As mastery of the core curriculum
				becomes common, communication in the research community will be much
				easier, there will be less duplication of effort and more
				cross-fertilization of ideas. Étoile will have big and long-lasting
				impact on the science of complex systems.</p>
		</div>
	</div>
</div>
}
