@(categories: List[models.curriculum.Category])
@main("etoile"){


	<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">etoile platform</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li ><a href="/about">About</a></li>
              <li><a href="/courses">Courses</a></li>
              <li class="active"><a href="/curriculum">Curriculum</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <form class="navbar-form pull-right">
            @if( session.get("email")==null) {
             <a href="login" role="button" class="btn btn-primary" >Login</a>
 			}
 			  @if( session.get("email")!=null) {
             <a href="/logout" role="button" class="btn btn-primary" >Logout</a>
 			} 
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



	<div class="container-fluid">
	<div class="row-fluid">
		<!-- Docs nav
    ================================================== -->
		
			<div class="span3  sidebar-nav">
				<ul class="nav well nav-list affix">
				<li class="nav-header">Curriculum</li>
					 @for(category <- categories) {
					<li><a href="#@category.id"><i class="icon-chevron-right"></i>@category.name</a></li>

					}
				</ul>
			</div>
			<div class="span9">
			<dl>
			@for(category <- categories) {
			<section id="@category.id">
				<dt>
				<h1><span class="label">C</span>@category.name</h1>
				</dt>
				<dd>
				<dl>
				@for(curriculumcourse <- category.curriculumcourses) {
					<dt>
					<h2><span class="label label-success">C</span>@curriculumcourse.text</h2> 
					</dt>
					<dd>
					<dl>
					@for(curriculummodule <- curriculumcourse.curriculummodules) {
						<dt>
						<h3><span class="label label-info">M</span>@curriculummodule.text</h3> 
						</dt>
						<dd>
						<dl>
							@for(curriculumtopic <- curriculummodule.curriculumtopics)	{
								<dt>
									<h4><span class="label label-warning">Topic</span>@curriculumtopic.text</h4>
								</dt>
								<dd>Topic Description</dd>

							}
						</dl>
						</dd>
				 
				 	}
				 	</dl></dd>
				}</dl></dd>
				  
			</section>
			}</dl>


		</div>
		</div>

	</div>
}
