@(categories: List[models.curriculum.Category])
@main("etoile"){


<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="/digitalcampus">Digital Campus</a>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li class="active"><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>



	<div class="container-fluid">
	<div class="row-fluid">
		<!-- Docs nav
    ================================================== -->
		
			<div class="span3  sidebar-nav">
				<ul class="nav well nav-list affix">
				<li class="nav-header">Curriculum</li>
					 @for(category <- categories) {
					<li><a href="#@category.keyword"><i class="icon-chevron-right"></i>@category.name</a></li>

					}
				</ul>
			</div>
			<div class="span9">
			<dl>
			@for(category <- categories) {
			<section id="@category.keyword">
				<dt>
				<h1><span rel="tooltip" data-placement="top" title="This is a Category."class="label">C</span><a href="@routes.Application.categoryModules(category.id)">@category.name</a></h1>
				
		</dt>
		
				<dd>
				<p>@category.description</p>
				<dl>
				@for(curriculummodule <- category.curriculummodules) {
				<section id="@category.keyword@curriculummodule.keyword">
					<dt>
					<h2><span class="label label-success">M</span>@curriculummodule.name</h2> 
					</dt>
					<dd>
					<p>@curriculummodule.text</p>
					<dl>
					@for(curriculumlesson <- curriculummodule.curriculumlessons) {
					<section id="@category.keyword@curriculummodule.keyword@curriculumlesson.keyword">
						<dt>
						<h3><span class="label label-info">L</span>@curriculumlesson.name</h3> 
						</dt>
						<dd>
						<p>@curriculumlesson.text</p>
						<dl>
							@for(curriculumtopic <- curriculumlesson.curriculumtopics)	{
							<section id="@category.keyword@curriculummodule.keyword@curriculumlesson.keyword@curriculumtopic.keyword">
								<dt>
									<h4><span class="label label-warning">T</span>@curriculumtopic.text</h4>
								</dt>
								<!--  <dd>Topic Description</dd> -->

							}
							</section>
						</dl>
						</dd>
				 
				 	}
				 	</section>
				 	</dl></dd>
				}
				</section>
				</dl></dd>
				  
			</section>
			}</dl>


		</div>
		</div>

	</div>
	
	
}