@(professor: models.Professor)
@main("éToile Platform"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/">éToile Platform home</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
                    <li><a href="/statistics">Statistics</a></li>
                    <li><a href="/help" target="_blank">Help</a> </li>
                    <li><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>
    
    <div class="container">
    
       
       
  <div class="page-header">
              <h2>@professor <br><small>Enhanced Technology for Open Intelligent Learning Environments</small></h2>    
            </div>
           <div class="row">
            <div class="span3">
            <img src="@professor.imageURL"/>
            </div>
            <div class="span8">
            <p>@professor.contact</p>
            <h4>Modules on &eacute;toile</h4>
             @for(module <- professor.modules) {
             <p>
             <a href="@routes.Application.module(module.acronym)"><span class="label label-info">@module.name</span></a>
             </p>
             }
            </div>
            
            </div>
            
            
            @for(content <- professor.contents) {
            <br>
            @if(content.id%2!=0){
            <div class="row">    
            <div class="span8 justify-text">
         <p>@content.description</p>
			</div>
			<div class="span3"><img src="@content.imageURL"/></div>
			</div>
			}
			@if(content.id%2==0){
			<div class="row">    
            
			<div class="span3"><img src="@content.imageURL"/></div>
			<div class="span8 justified-text">
         <p>@content.description</p>
			</div>
			</div>
			}
					}
	
</div>

}
