@(user: User,categories: List[models.curriculum.Category]) 
@main("etoile"){
<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li class="active"><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
<div class="row-fluid">
	@usermenu(user,categories,"")
	<!--/span-->

			<div class="span9">
		<div class="page-header">
			<h2>
				Contact étoile <br>
				<small>Enhanced Technology for Open Intelligent Learning
					Environments</small>
			</h2>

		</div>
		
		<button class="popover-test" id="button1" data-content="Popover Content">
    button
</button>
	
	
		<button href="#" rel="tooltip" role="button" class="tip btn btn-danger btn-mini" title="Please insert your credentials here!">passa o rato aqui </button>
		
		<script type="text/javascript">
     $('.tip').tooltip();
</script>

			<address>
				<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br>
				San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123)
				456-7890
			</address>

			<address>
				<strong>Full Name</strong><br> <a href="mailto:#">first.last[at]gmail.com</a>
			</address>
		</div>
	</div>
</div>
}
