@(user: User,categories: List[models.curriculum.Category]) 
@main("etoile"){
<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li class="active"><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <div class="btn-group pull-right">
					<a class="btn dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>
						@user.email <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- dropdown menu links -->
						<a href="@routes.StudentController.settings()#password" role="button"><i class="icon-wrench"></i> Password
							Settings</a>
						<a href="@routes.StudentController.settings()#privacy" role="button"><i class="icon-lock"></i> Privacy
							Settings</a>
							<li class="divider"></li>
							<a href="/logout" role="button" ><i class="icon-off"></i> Logout</a>
					</ul>
				</div>
 }
				</form>
				
				
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
<div class="row-fluid">
	@usermenu(user,categories,"")
	<!--/span-->

			<div class="span9">
		<div class="page-header">
			<h2>
				Contact étoile <br>
				<small>Enhanced Technology for Open Intelligent Learning
					Environments</small>
			</h2>

		</div>
		
		<button class="popover-test" id="button1" data-content="Popover Content">
    button
</button>
	
	
		<button href="#" rel="tooltip" role="button" class="tip btn btn-danger btn-mini" title="Please insert your credentials here!">passa o rato aqui </button>
		
		<script type="text/javascript">
     $('.tip').tooltip();
</script>

			<address>
				<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br>
				San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123)
				456-7890
			</address>
			
			<div id="mainwrapper"><!-- This #mainwrapper section contains all of our images to make them center and look proper in the browser ->  
    <!-- Image Caption 1 -->  
    <div id="box-1" class="box">  
        <img id="image-1" src="http://2.bp.blogspot.com/_Sum1R6PQ_0c/SqJCO-jawpI/AAAAAAAADS8/UTw0DeyRC0U/S650/SL+BENFICA+1904..jpg"/>  
        <span class="caption simple-caption">  
        <p>Simple Caption</p>  
        </span>  
    </div>  
  
    <!-- Image Caption 2 -->  
    <div id="box-2" class="box">  
        <img id="image-2" src="http://resources.prufrock.com/Portals/0/BlogImages/math.science.jpg"/>  
        <span class="caption full-caption">  
        <h4 class="mini">Full Caption</h4>  
        <p class="mini"><small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</small></p>  
        </span>  
    </div>  
  
    <!-- Image Caption 3 -->  
    <div id="box-3" class="box">  
        <img id="image-3" src="http://2.bp.blogspot.com/_Sum1R6PQ_0c/SqJCO-jawpI/AAAAAAAADS8/UTw0DeyRC0U/S650/SL+BENFICA+1904..jpg"/>  
        <span class="caption fade-caption">  
        <h3>Fade Caption</h3>  
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>  
        </span>  
    </div>  
      
    <!-- Image Caption 4 -->  
    <div id="box-4" class="box">  
        <img id="image-4" src="http://2.bp.blogspot.com/_Sum1R6PQ_0c/SqJCO-jawpI/AAAAAAAADS8/UTw0DeyRC0U/S650/SL+BENFICA+1904..jpg"/>  
        <span class="caption slide-caption">  
        <h3>Slide Caption</h3>  
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>  
        </span>  
    </div>  
      
    <!-- Image Caption 5 -->  
    <div id="box-5" class="box">  
        <div class="rotate"><!-- Rotating div -->  
            <img id="image-5" src="http://2.bp.blogspot.com/_Sum1R6PQ_0c/SqJCO-jawpI/AAAAAAAADS8/UTw0DeyRC0U/S650/SL+BENFICA+1904..jpg"/>  
            <span class="caption rotate-caption">  
            <h3>This is rotate caption</h3>  
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>  
            </span>  
        </div>  
    </div>  
  
    <!-- Image Caption 6 -->  
    <div id="box-6" class="box">  
        <img id="image-6" src="http://2.bp.blogspot.com/_Sum1R6PQ_0c/SqJCO-jawpI/AAAAAAAADS8/UTw0DeyRC0U/S650/SL+BENFICA+1904..jpg"/>  
        <span class="caption scale-caption">  
        <small><b>Free Style Caption</b></small> 
        <p><small>Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</small></p>  
        </span>  
    </div>  
</div> <!-- end of #mainwrapper-->  

			<address>
				<strong>Full Name</strong><br> <a href="mailto:#">first.last[at]gmail.com</a>
			</address>
		</div>
	</div>
</div>
}
