@(user: User, categories: List[models.curriculum.Category],course: models.course.Course)
@main("etoileplatform"){



<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="/digitalcampus">Digital Campus</a>
					</li>
					<li><a href="/courses">Courses</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">

	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav" style="background: #0088CC;">
				<ul class="nav nav-list">
					<li class="nav-header" style="color: white; text-shadow: #0088CC;">My
						Courses</li> @for(course <- user.courses) {
					<li><a href="@routes.Application.course(course.acronym)"
						style="text-shadow: #0088CC; color: #999999">@course.name</a></li> }
				</ul>
			</div>
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Categories (@categories.size)</li>
					@for(category <- categories) {
										<li><a href="/curriculum#@category.keyword">@category.name</a></li> }
					
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->


		<div class="span9">
			<div class="page-header">
				<div class="row-fluid">
					<div class="span6">
						<h2>@course.name</h2>
					</div>
					<div class="span2 offset3 pull-right">
						<h2>
							<a href="#" role="button" class="btn btn-info">Sign Up</a>
						</h2>
					</div>
				</div>
			</div>

			<h3>Description</h3>
			<div class="row-fluid">
				<div class="span3">
					<img src="@course.imageURL" height="200" width="200" />
				</div>
				<div class="span9">

					<p>@course.description</p>
				</div>
			</div>
			<hr>
			
			@for(content <- course.contents) {
			<h3>@content.title</h3>
			<p>@content.text</p>
			<hr>
			} 
			
			
			@if(course.categories.size!=0) {
			@if(course.categories.size==1) {
			<h3>Category</h3>
			} else{
			<h3>Categories</h3>
			} 
			@for(category <- course.categories){
			<a href="#" class="">@category.name</a>
			<br>
			}
			}
			
			



			<p></p>
		</div>
		}