@(user: User,module: models.module.Module) 
@main("etoile"){
<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
					</li>
					<li class="active"><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <div class="btn-group pull-right">
					<a class="btn dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>
						@user.email <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- dropdown menu links -->
						<a href="@routes.StudentController.settings()#password" role="button"><i class="icon-wrench"></i> Password
							Settings</a>
						<a href="@routes.StudentController.settings()#privacy" role="button"><i class="icon-lock"></i> Privacy
							Settings</a>
							<li class="divider"></li>
							<a href="/logout" role="button" ><i class="icon-off"></i> Logout</a>
					</ul>
				</div>
 }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
<div class="row-fluid">
	@usermenu(user,models.curriculum.Category.getAllCategories,module.acronym)
	<!--/span-->

		<div class="span9">
			<div class="page-header">
				<h3>
					Forum<p><small>@module.name</small></p>
				</h3>
				<a href="@routes.Application.module(module.acronym)"
					class="btn btn-primary btn-small">Return to the begin of this module</a>
				</div>
				
				<span class="row-fluid"></span>
				<h4>Topics regarding this module:<small>
<a href="#modalNewTopic" data-toggle="modal" class="btn btn-success btn-small pull-right" ><i class="icon-plus icon-white"></i> Add topic</a></small>
</h4>
			

			<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="span1"></th>
      <th class="span8"></th>
      <th class="span3"></th>
      <th class="span3"></th>
      <th class="span3"></th>
    </tr>
  </thead>
  <tbody>
  @for(topic <- module.forum.topics){
  
    
    @if(!models.manytomany.Usertopic.findByUserAndTopic(user.email,topic.id).seen){
      <tr  class="warning">
      <td><span class="label label-success pull-right">New</span></td>
      <td><strong><a href="@routes.ForumController.topic(module.acronym,topic.id)" >@topic.title</a></strong></td>
       <td><i class="icon-user"></i> <a href="@routes.Application.studentprofile(topic.starter.username)">@topic.starter</a></td>
      <td><a href="@routes.ForumController.topic(module.acronym,topic.id)" > <i class="icon-comment"></i> @topic.replies.size replys</a></td>
      <td><small>@topic.dateToString</small></td>
       </tr>
      }
      @if(models.manytomany.Usertopic.findByUserAndTopic(user.email,topic.id).seen){
      <tr>
      <td></td>
      <td><strong><a href="@routes.ForumController.topic(module.acronym,topic.id)" >@topic.title</a></strong></td>
      <td><i class="icon-user"></i> <a href="@routes.Application.studentprofile(topic.starter.username)">@topic.starter</a></td>
      <td><a href="@routes.ForumController.topic(module.acronym,topic.id)" ><i class="icon-comment"></i> @topic.replies.size replys</a></td>
      <td><small>@topic.dateToString</small></td>
       </tr>
      }
   
   }
  </tbody>
</table>


		<div id="modalNewTopic" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>New Topic</h3>
								</div>
				@helper.form(routes.ForumController.addtopic(module.acronym)){
					
						<div class="modal-body">
							<div class="control-group">

								<!-- Text input-->
								<label class="control-label">Topic title</label>
								<div class="controls">
									<input type="text" name="title"  maxlength="40" class="span8"  required placeholder="Insert the title"
										class="input-xlarge">
									
								</div>
							</div>

							<div class="control-group">

								<!-- Textarea -->
										<label class="control-label">Message:</label>
										<div class="controls">
											<div class="textarea">
												<textarea name="reply" class="span20" rows="5" required></textarea>
											</div>
										</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="controls">
								<button  class="btn btn-success">Add topic</button>
					
						</div>
						</div>}</div>


		</div>
	</div>
</div>
}
