@(user: models.User) @main("éToile Platform"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">

	<div class="navbar-inner">

		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>

			</a>

			<!-- <a class="brand" href="/">etoile platform</a> -->

			<a class="brand" href="/">éToile Platform</a>

			<!-- Menu na barra de cima -->


			<div class="nav-collapse">


				<ul class="nav">

					<li><a href="/">Home</a></li>

					<li><a href="/digitalcampus">Digital Campus</a></li>

					<li><a href="/modules" id="topbarmodules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->


					

					<!--   <li><a href="/curriculum">Curriculum</a></li>  -->


					<li><a href="/news">News</a></li>

					<li><a href="/about">About</a>
                    </li>

                    <li><a href="/statistics">Statistics</a>
                    </li>
                    <li><a href="/help" target="_blank">Help</a> </li>
					<li><a href="/contact">Contact</a></li>
			

				</ul>

				<!--  

<div class="navbar-form pull-right">

<a href="login" role="button" class="btn btn-primary">Login</a>

</div>

-->
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-cog icon-white"></i>
						@user.email <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- dropdown menu links -->
						<a href="@routes.StudentController.settings()#password" role="button"><i class="icon-wrench"></i> Password
							Settings</a>
						<a href="@routes.StudentController.settings()#privacy" role="button"><i class="icon-lock"></i> Privacy
							Settings</a>
							<li class="divider"></li>
							<a href="/logout" role="button" ><i class="icon-off"></i> Logout</a>
					</ul>
				</div>

			</div>

			<!--/.nav-collapse -->



		</div>

	</div>

</div>



<div class="container">



	<div class="page-header">
	<h2>
			@user.studentProfile.firstname @user.studentProfile.lastname <small><a href="#editProfileModal"
				data-toggle="modal" role="button" class="btn btn-warning btn-mini" id="editProfile">Edit Profile</a></small>

			<br> <small>@user.studentProfile.shortdescription</small>
		</h2>
		
		<div id="changePrivacy" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
			@helper.form(routes.StudentController.changeprivacy(),'class->"form-horizontal"){
			<div class="control-group">
			<div class="controls">
			@if(user.studentProfile.privateProfile){
			Private profile: <input  checked type="checkbox" name="privacy" value="1"  />
			}else{
			Private profile: <input type="checkbox" name="privacy" value="1"  />
			}
			</div>
			</div>
			
			<div class="control-group">
				<div class="controls">

					<button type="submit" class="btn btn-primary">Save settings</button>

				</div>
			</div>
			}
			</div>
			</div>
			
		
		<div id="changePassword" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
			@helper.form(routes.StudentController.changepassword(),'class->"form-horizontal"){
			
			
				<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" name="inputPassword"
						placeholder="Password" required minlength="6"
						data-validation-minlength-message="A password must be at least 6 characters.">
					<span class="help-inline"></span> <span class="help-block">A
						password must be at least 6 characters. </span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputRepeatPassword">Repeat
					Password</label>
				<div class="controls">
					<input type="password" id="inputRepeatPassword"
						name="inputRepeatPassword" placeholder="Repeat Password"
						data-validation-matches-match="inputPassword"
						data-validation-matches-message="Must match password entered above">
					<span class="help-inline"></span> <span class="help-block">Please
						repeat your password again. </span>

				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">

					<button type="submit" class="btn btn-primary">Change Password</button>

				</div>
			</div>
			
			}
			</div>
			
			</div>
			
			
			
			
		
		<div id="editProfileModal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


			@helper.form(routes.StudentController.editprofile(),'class->"form-horizontal"){
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Edit profile</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">First Name</label>
						<div class="controls">
							<input type="text" name="firstname" placeholder="First Name"
								class="input-xlarge" value="@user.studentProfile.firstname" required maxlength="50">
							<p class="help-block">Please insert your first name</p>
						</div>
					</div>

					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Last Name</label>
						<div class="controls">
							<input type="text" name="lastname" placeholder="Last Name"
								class="input-xlarge" value="@user.studentProfile.lastname" required maxlength="50">
							<p class="help-block">Please insert your last name</p>
						</div>
					</div>

					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Contact</label>
						<div class="controls">
							<input type="text" name="contact" placeholder="Contact"
								class="input-xlarge" value="@user.studentProfile.contact" maxlength="50">
							<p class="help-block">Please insert your contact</p>
						</div>
					</div>
					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Address</label>
						<div class="controls">
							<input type="text" name="address" placeholder="Contact"
								class="input-xlarge" value="@user.studentProfile.address" maxlength="80">
							<p class="help-block">Please insert your address</p>
						</div>
					</div>

					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Profile Image
							url</label>
						<div class="controls">
							<input type="text" name="imageURL" placeholder="Image url"
								class="input-xlarge" value="@user.studentProfile.imageURL"  >
							<p class="help-block">Please insert the url to your picture</p>
						</div>
					</div>
					
					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Webpage URL</label>
						<div class="controls">
							<input type="text" name="webpage" placeholder="Webpage URL"
								class="input-xlarge" value="@user.studentProfile.webpage" >
							<p class="help-block">Please insert the url of your webpage</p>
						</div>
					</div>
					
					<div class="control-group">

						<!-- Textarea -->
						<label class="control-label">Short Description</label>
						<div class="controls">
							<div class="textarea">
								<textarea type="" name="shortdescription" class="span4" rows="4" 
									style="resize: none" maxlength="200">@user.studentProfile.shortdescription</textarea>
							</div>
						</div>
					</div>
					
				</fieldset>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-success" id="editProfileSave">Save changes</button>
			</div>
			}


		</div>
		

		</div>
		
		

	</div>
	
	<div class="span12 container">
	<div class="span2 well">
	<div class="row">
		@if(user.studentProfile.imageURL.length()>0){
		<div class="span2"><a class="thumbnail"><img src="@user.studentProfile.imageURL" alt=""></a></div>
		}
		@if(user.studentProfile.imageURL.length()==0){
		<div class="span2"><a class="thumbnail"><img src="http://forum.must.ac.ug/sites/default/files/default-avatar.png" alt=""></a></div>
		}
		
	</div>
	</div>
	<div class="span8 well">
	<div class="row">
		<div class="span10">
		<blockquote>
          	<p><strong>Name: @user.studentProfile.firstname @user.studentProfile.lastname</strong></p>
          	<p><strong>Username:</strong> @user.username</p>
          	<p><strong>Contact:</strong> @user.studentProfile.contact</p>
          	<p><strong>Email:</strong> @user.email</p>
          	<p><strong>Address:</strong> @user.studentProfile.address</p>
          	<p><strong>Webpage:</strong> @user.studentProfile.webpage</p>
          	<!-- @if(user.studentProfile.male){                                                                            -->
          	<!-- <p>Male from <span class="bfh-countries" data-country="@user.country" data-flags="false"></span></p>      -->
          	<!-- }                                                                                                         -->
          	<!-- @if(!user.studentProfile.male){                                                                            -->
          	<!-- <p>Female from <span class="bfh-countries" data-country="@user.country" data-flags="true"></span></p>      -->
          	<!-- }                                                                                                          -->
          	</blockquote>
		</div>
	</div>
	</div>
	
	<h3>About
	<small><a href="#editAboutProfileModal" data-toggle="modal" role="button" class="btn btn-warning btn-mini" id="editAboutProfile">Edit</a></small>
	</h3>
	
	<div id="editAboutProfileModal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


			@helper.form(routes.StudentController.editprofileabout(),'class->"form-horizontal"){
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Edit profile</h3>
			</div>
			<div class="modal-body">
				<fieldset>
					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Scientific Area</label>
						<div class="controls">
							<input type="text" name="scientific_area" placeholder="Scientific Area"
								class="input-xlarge" value="@user.studentProfile.scientific_area" required maxlength="80">
							<p class="help-block">Please insert your Scientific Area</p>
						</div>
					</div>

					<div class="control-group">

						<!-- Text input-->
						<label class="control-label" for="input01">Degree</label>
						<div class="controls">
							<input type="text" name="degree" placeholder="Degree"
								class="input-xlarge" value="@user.studentProfile.degree" required maxlength="80">
							<p class="help-block">Please insert your degree</p>
						</div>
					</div>
					
					<div class="control-group">
								<label class="control-label">University</label>
								<div class="controls">
									<select name="university"> 
									<option >-</option> 
									@for(university <- models.module.University.getAllUniversities){
										
										<option >@university.name</option> 
										
										}
									</select>
									<p class="help-block">Choose your university</p>
								</div>
							</div>
					

					<div class="control-group">

						<!-- Textarea -->
						<label class="control-label">Description</label>
						<div class="controls">
							<div class="textarea">
								<textarea type="" name="description" class="span4" rows="4" 
									style="resize: none"  minlength="40">@user.studentProfile.description</textarea>
							</div>
						</div>
					</div>
					
				</fieldset>
			</div>
			<div class="modal-footer">
				<a class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-success" id="editAboutProfileSave">Save changes</button>
			</div>
			}


		</div>
		
	
	
	<div class="span11 well">
	<div class="row">
		<div class="span10">
		<blockquote>
          	<p><strong>Scientific Area:</strong> @user.studentProfile.scientific_area</p>
          	<p><strong>Degree:</strong> @user.studentProfile.degree</p>
          	<p><strong>University:
          	@if(user.studentProfile.university!=null){
          	<span class=" badge badge-warning">@user.studentProfile.university.name</span> 
          	}
          	</strong>
			</p>
			</blockquote>
          	<p> @user.studentProfile.description</p>
			
		</div>
	</div>
	</div>
	
	<h3>Activity in &eacutetoile</h3>
	<div class="span11 well">
	<div class="row">
		<div class="span10">
		<div class="offset">
		<blockquote>

			<p><strong>Modules:</strong> 
		@for(module<-user.modules){
          <span class=" badge badge-alert">@module.name</span>
          }
           </p>
          	<p><strong>Tests concluded:</strong> @user.tests.size()</p>
          	<p><strong>Suggested questions in tests:</strong> @user.openquestions.size()</p>
            <p><strong>Suggested URLs in tests:</strong> @user.urls.size()</p>
            <hr>
            <p><strong>Forum posts:</strong> @user.replies.size()</p>
          	<!-- <p><strong>Marked answers in tests: </strong>@user.answerMarker.size()</p>   -->
          </blockquote>
   
     	    <section id="reputation">
          	<h3>My reputation</h3>
			<div class="">
                <blockquote>
				 <p><strong>Reputation regarding the resources added to the Curriculum:</strong> @user.commitmentReputation</p>
                </blockquote>
		</div>
			</section>
	</div>
	</div>
	
	</div>
</div>
@if(!user.olduser){
<script src="@routes.Assets.at("javascripts/tour.js")"></script>
}

}
