@(user: User,module: models.module.Module, lesson: models.module.Lesson,
categories: List[models.curriculum.Category], test: models.test.Test,
formAnswer : Form[Profile.QuestionAnswer], formOneChoiceAnswer :
Form[Profile.OneChoiceQuestionAnswer]) 
@import helper._
@main("etoileplatform"){



<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">

		<div class="span3  sidebar-nav">
			<ul class="nav well nav-list affix">
				<li class="nav-header">@test.name</li> @for(question
				<-test.openquestions) {
				<li><a href="#@question.id"><i class="icon-chevron-right"></i>Question
						@question.id</a></li> } @for(onechoicequestion <- test.onechoicequestions){
				<li><a href="#OneChoice@onechoicequestion.id"><i
						class="icon-chevron-right"></i>OneChoiceQuestion
						@onechoicequestion.id</a></li> }


			</ul>
		</div>


		<!--/span-->
		<div class="span9">
			<div class="page-header">
				<h1>@test.name</h1>


				<h3>Open Questions</h3>
				@for(question <- test.openquestions) {

				<section id="@question.id">
					<div class="well">
						<h4>Question @question.id</h4>
						<p>@question.question</p>
						<ul class="thumbnails">
						<li class="span4">
						<div >
						<p><img src="@question.imageURL" /></p>
						</div>
						</li>
						<li class="span4">
						<div >
						<object>
									<param name="movie"
										value="@question.videoURL" />
									<param name="wmode" value="transparent" />
									<embed src="@question.videoURL"
										type="application/x-shockwave-flash" wmode="transparent"
										 />
								</object>
						</div>
						</li>
						</ul>
						@for(answer <- test.answers){
						@if(answer.openQuestion.id==question.id){





						<div class="control-group">
							@helper.form(routes.Profile.postquestionanswer(module.acronym,
							lesson.acronym,test.id,question.id)) {
							<div class="controls">

								<textarea class="span20" rows="10" name="qanswer"
									style="resize: none">@answer.answer</textarea>

								<div class="controls">
									<button type="submit#1" class="btn btn-info">Save</button>

								</div>
								}
							</div>
						</div>
				</section>
				}} }
				<hr>
				<h3>One Choice Questions</h3>
				@for(onechoicequestion <- test.onechoicequestions) {

				<section id="OneChoice@onechoicequestion.id">
					<div class="well">
						<h4>Question @onechoicequestion.id</h4>
						<p>@onechoicequestion.question</p>

						<div class="control-group">
							@helper.form(routes.Profile.postonechoicequestionanswer(module.acronym,
							lesson.acronym,test.id,onechoicequestion.id)) {
							<div class="controls">

								<label class="radio">
									@for(hypothesis<-onechoicequestion.hypothesyslist) { 
								<label
									class="radio">
										@for(onechoiceanswer<-test.onechoiceanswers){
										@if(onechoiceanswer.hypothesis.id==hypothesis.id){ 
										<input
										type="radio" value="@hypothesis.id" name="ocqanswer"
										checked="checked"> @hypothesis.text</input> 
										}
										@if(onechoiceanswer.hypothesis.id!=hypothesis.id){ 
										<input
										type="radio" value="@hypothesis.id" name="ocqanswer">
										@hypothesis.text</input> 
										} 
										}
								</label> 
								}
								</label>

								<div class="controls">
									<button type="submit#1" class="btn btn-info">Save</button>

								</div>
								}
							</div>
						</div>



					</div>
				</section>


				}

				<h3>Multiple Choice Questions</h3>
				@for(multiplechoicequestion <- test.multiplechoicequestions) {

				<section id="OneChoice@multiplechoicequestion.id">
					<div class="well">
						<h4>Question @multiplechoicequestion.id</h4>
						<p>@multiplechoicequestion.question</p>

						<div class="control-group">
							@helper.form(routes.Profile.postmultiplechoicequestionanswer(module.acronym,
							lesson.acronym,test.id,multiplechoicequestion.id)) {
							<div class="controls">
           						 <div class="input">
              					<ul class="inputs-list">
									@for(hypothesis<-multiplechoicequestion.hypothesislist) {
									
									<li>
									<label>
									
										<input type="checkbox" name="mcqanswers[@hypothesis.number]" value="@hypothesis.id" >
										<span>@hypothesis.text</span></>
										
									</label> 
									</li>
								}
								<br/>
								<div class="alert alert-success">

								Last Answer:
								@for(hypothesis<-multiplechoicequestion.hypothesislist) {
								@for(answer <- test.multiplechoiceanswers){
								@for(multiplechoiceanswer <- answer.hypothesislist){
								@if(multiplechoiceanswer.id == hypothesis.id){
									<br/> - @multiplechoiceanswer.text
								}	
								}
								}
								}
								</div>
								</ul>
								</div>
								

								<div class="controls">
									<button type="submit#1" class="btn btn-info">Save</button>

								</div>
								}
							</div>
						</div>



					</div>
				</section>


				}

			</div>
		</div>
	</div>
</div>

<button class="btn btn-success" type="submit">Save</button>
<div class="span9">

	<div class="row-fluid"></div>
</div>
}
