@(user: User,course: models.course.Course, module: models.course.Module, categories: List[models.curriculum.Category], test:
models.test.Test, formAnswer : Form[Profile.QuestionAnswer]) 
@import helper._ 
@main("etoileplatform"){



<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/courses">Courses</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">

		<div class="span3  sidebar-nav">
			<ul class="nav well nav-list affix">
				<li class="nav-header">@test.name</li> @for(question
				<-test.openquestions) {
				<li><a href="#@question.id"><i class="icon-chevron-right"></i>Question
						@question.id</a></li> } @for(onechoicequestion <- test.onechoicequestions){
				<li><a href="#OneChoice@onechoicequestion.id"><i
						class="icon-chevron-right"></i>OneChoiceQuestion
						@onechoicequestion.id</a></li> }


			</ul>
		</div>


		<!--/span-->
		<div class="span9">
			<div class="page-header">
				<h1>@test.name</h1>
				<div class="tabbable">
					<!-- Only required for left/right tabs -->


					@for(question <- test.openquestions) {

					<section id="@question.id">
						<h3>@question.question</h3>
						@for(answer <- test.answers){
						@if(answer.openQuestion.id==question.id){

					<dl class="dl-horizontal">
					<dt>Saved Answer:</dt>
					<dd>@answer.answer</dd>
					</dl>
				
						 


						<div class="control-group">
							@helper.form(routes.Profile.postquestionanswer(course.acronym, module.acronym,test.id,question.id)) {
							<div class="controls">
							
							<textarea  class="span8" name="qanswer">@answer.answer</textarea>
							
							<div class="controls">
								<button type="submit" class="btn btn-primary">Save</button>

							</div>
							}
						</div>

					</section>
}}

					} @for(onechoicequestion <- test.onechoicequestions) {

					<section id="OneChoice@onechoicequestion.id">
						<h3>@onechoicequestion.question</h3>
						<label class="radio"> @for(hypothesis
							<-onechoicequestion.hypothesyslist) { <label class="radio">
								<input type="radio" value="@hypothesis.id" name="group">
								@hypothesis.text
						</label> }
						</label>
					</section>


					}


				</div>
			</div>
		</div>
	</div>

	<button class="btn btn-success" type="submit">Save</button>
	<div class="span9">

		<div class="row-fluid"></div>
	</div>
</div>
<div class="row-fluid">}