@(user: User) 
@main("éToile Platform"){
<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/">éToile Platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a>
					</li>
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					</li>
					<li><a href="/modules">Modules</a>
					</li>
<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a>
					</li>
					<li><a href="/about">About</a>
                    </li>
                    <li><a href="/statistics">Statistics</a>
					</li>
                    <li><a href="/help" target="_blank">Help</a> </li>
					<li class="active"><a href="/contact">Contact</a>
					</li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button" class="btn btn-primary">Login</a> } 
					@if(session.get("email")!=null) { <a href="/logout" role="button" class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
<div class="row-fluid">
	@professormenu(user,"")
	<!--/span-->

	<div class="span9">
		<div class="page-header">
			<h2>
				Contact éToile <br>
				<small>Enhanced Technology for Open Intelligent Learning
					Environments</small>
			</h2>

		</div>
			<br>
		
			<address>
				<strong>General e-mail contact: </strong><a href="mailto:etoileplatform@@gmail.com">etoileplatform@@gmail.com</a>
			</address>
			<br>
			
			<address>
				<strong>Contact for the English speaking countries:</strong>
				<br>
				<br> 
				<a href="http://design.open.ac.uk/johnson/" target="_blank">Jeffrey Johnson</a>
				<br>
				Coordinator of the éToile European Coordination Action
				<br> 
				Mobile : +44 77 966 966 21 | Skype : jeffjohnsonou | <a href="mailto:j.h.johnson[at]open.ac.uk">e-mail</a>
			</address>
			<br>	
			
			<address>
				<strong>Contact for the French speaking countries:</strong>
				<br> 
				<br> 
				<a href="http://www.polytechnique.edu/accueil/actualites/paul-bourgine-82630.kjsp" target="_blank">Paul Bourgine</a>  
				<br> 
				Mobile Viber : +33 6 72 20 99 18 | Skype : paulbourgine | <a href="mailto:paul.bourgine@@polytechnique.edu">e-mail</a>
			</address>
			<br>	
				
			<address>
				<strong>Contact for the Spanish speaking countries:</strong>
				<br> 
				<br> 
				<a href="http://taramasco.wix.com/carla" target="_blank">Carla Taramasco</a>
				<br> 
				Skype : ctaramasco | <a href="mailto:Carla.Taramasco@@polytechnique.edu">e-mail</a>
			</address>	
			<br>	
			
			<address>
				<strong>Contact for the Portuguese speaking countries:</strong>
				<br> 
				<br>
				<a href="http://www.complexsystemsstudies.eu/JorgeL" target="_blank">Jorge Lou&ccedil;&atilde;</a>
				<br> 
				Skype : jorge.l.iscte.pt | <a href="mailto:Jorge.L@@iscte.pt">e-mail</a>
			</address>
				
				
		</div>
	</div>
</div>
}
