@(user: User, categories: List[models.curriculum.Category], lesson:
models.module.Lesson, module: models.module.Module) @import helper._
@main("etoileplatform"){



<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		@professormenu(user)
		
		<div class="span9">
			<div class="page-header">
				<h2>
					@lesson.name <small> <span class="btn-group"> <a
							class="btn btn-mini btn-warning" href="#MyModalEditLesson" data-toggle="modal"
							role="button">edit</a>
							 <a class="btn btn-mini btn-danger disabled"
							href="#" data-toggle="modal" role="button">delete</a>

					</span>
					</small>
				</h2>
				<a href="@routes.Application.module(module.acronym)" class="btn btn-primary btn-small">Return to the beginning of the module</a>

			</div>
			<!--/span-->
		<div class="row-fluid">
				<div class="">
				<button type="button" class="close" data-toggle="collapse"
							data-target="#@lesson.id">-</button>
						<strong data-toggle="collapse" data-target="#@lesson.id">@lesson.shortDescription</strong>
							<div id="@lesson.id" class="collapse row-fluid">
							<p>@lesson.description</p>
							</div>
						
				</div>
				</br>
				<div class="tabbable">
					<!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#news" data-toggle="tab">News</a></li>
						<li><a href="#resources" data-toggle="tab">Resources</a></li>
						<li><a href="#tests" data-toggle="tab">Tests</a></li>
						<li><a href="#suggested" data-toggle="tab">Suggested questions</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="news">
						<a class="btn btn-large btn-block btn-success btn-mini" data-toggle="modal" href="#myModalNewAlert" type="button">Add news</a></br>
						
							@for(alert <- lesson.lessonalerts){
							<div class="row-fluid">
								<div class="span2">
									<img src="@alert.imageURL" height="100" width="100" />
								</div>
								<div class="span9">
									<h4>@alert.name</h4>
									<p>@alert.text</p>
								</div>
							</div>
							</br>
							}
							<a class="btn btn-large btn-block btn-success btn-mini" data-toggle="modal" href="#myModalNewAlert" type="button">Add news</a>
						</div>
							
							<!-- Modal -->
					<div id="myModalNewAlert" class="modal hide fade" >
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">X</button>
							<h3 id="myModalLabel">@lesson.name new alert</h3>
							
						</div>
						<div class="modal-body">
							
							@helper.form(routes.ProfessorLessonController.addlessonalert(module.acronym, lesson.acronym),'class->"form-horizontal"){
								

										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Title</label>
											<div class="controls">
												<input name="name" type="text" placeholder="" class="input-xlarge">
												<p class="help-block">Insert the news header</p>
											</div>
										</div>

										<div class="control-group">

											<!-- Textarea -->
											<label class="control-label">Text</label>
											<div class="controls">
												<div class="textarea">
													<textarea name="text" type="" class=""
														style="margin: 0px; height: 145px; width: 269px;"></textarea>
												</div>
											</div>
										</div>

										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Image url</label>
											<div class="controls">
												<input name="imageURL" type="text" placeholder="" class="input-xlarge"
													>
												<p class="help-block">New Alert's image</p>
											</div>
										</div>

									<div class="control-group">
										<label class="control-label"></label>

										<!-- Button -->
										<div class="controls">
											<button type="submit" class="btn btn-success">Save</button>
										</div>
									</div>


								}
							
						</div>
					</div>
						
						<div class="tab-pane" id="resources">
						<a class="btn btn-large btn-block btn-success btn-mini" data-toggle="modal" href="#myModalNewResource" type="button">Add resource</a></br>
						
							@for(mc <- lesson.lessoncontents) {
							<div class="row-fluid">
								<div class="span2">
									<img src="@mc.lessonContentImageURL" height="100" width="100" />
								</div>
								<div class="span9">
									<h4>@mc.name</h4>
									<p>@mc.text</p>
									<p>
										<a href="@mc.url" target="_blank">@mc.name</a>
									</p>
								</div>
							</div>
							</br>
							}
							<a class="btn btn-large btn-block btn-success btn-mini" data-toggle="modal" href="#myModalNewResource" type="button">Add resource</a>
							
							<!-- Modal -->
					<div id="myModalNewResource" class="modal hide fade" >
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">X</button>
							<h3 id="myModalLabel">@lesson.name new resource</h3>
						</div>
						<div class="modal-body">
							
							@helper.form(routes.ProfessorLessonController.addlessoncontent(module.acronym, lesson.acronym),'class->"form-horizontal"){
								

										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Title</label>
											<div class="controls">
												<input name="name" type="text" placeholder="" class="input-xlarge">
												<p class="help-block">Title</p>
											</div>
										</div>

										<div class="control-group">

											<!-- Textarea -->
											<label class="control-label">Text</label>
											<div class="controls">
												<div class="textarea">
													<textarea name="text" type="" class=""
														style="margin: 0px; height: 145px; width: 269px;"></textarea>
												</div>
											</div>
										</div>

										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Image url</label>
											<div class="controls">
												<input name="imageURL" type="text" placeholder="" class="input-xlarge"
													>
												<p class="help-block">New Alert item's image</p>
											</div>
										</div>
										
										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">URL</label>
											<div class="controls">
												<input name="url" type="text" placeholder="" class="input-xlarge"
													>
												<p class="help-block">New Alert item's url</p>
											</div>
										</div>

									<div class="control-group">
										<label class="control-label"></label>

										<!-- Button -->
										<div class="controls">
											<button type="submit" class="btn btn-success">Save</button>
										</div>
									</div>


								}
							
						</div>
					</div>
							
							
						</div>
						<div class="tab-pane" id="tests">
							<table class="table table-striped" style="background: #DDDDDD;">
								<thead>
									<tr>
										<th>Test-ID</th>
										<th>Test Name</th>
										<th>Expected Duration</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@for(test <- lesson.tests) {
									<tr>
										<td>@test.id</td>
										<td>@test.name</td>
										<td>3 hours</td>
										<td>
										<span class="btn-group">
										<a class="btn btn-small btn-success" href="@routes.ProfessorTestController.test(module.acronym,lesson.acronym,test.id)" data-toggle="modal" role="button">open</a>
										<a class="btn btn-small btn-warning disabled" href="#" data-toggle="modal" >edit</a>
										<a class="btn btn-small btn-danger disabled"  href="" data-toggle="modal" role="button">delete</a>

										

										</span>
										<div id="deleteTest@test.id" class="modal hide fade" tabindex="-1"
													role="dialog" aria-labelledby="myModalLabel"
													aria-hidden="true">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-hidden="true">×</button>
														<h3>Confirm Delete</h3>
													</div>
													<div class="modal-body">
														<p>Are you sure you want to delete this item?</p>
														<blockquote>@test.name</blockquote>
														<p>
															<span class="label label-important">Important</span> This
															Action is irreversible!
														</p>
													</div>
													<div class="modal-footer">
														<button class="btn" data-dismiss="modal"
															aria-hidden="true">Close</button>
														<a class="btn btn-danger"
															href="@routes.ProfessorTestController.deletetest(test.id,module.acronym,lesson.acronym)">Delete</a>
													</div>


												</div>
										</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
						
						
						
						<div id="MyModalEditLesson" class="modal hide fade" >
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">X</button>
							<h3 id="myModalLabel">@lesson.name new resource</h3>
						</div>
						<div class="modal-body">
							
							@helper.form(routes.ProfessorLessonController.editlesson(module.acronym, lesson.acronym),'class->"form-horizontal"){
								

										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Name</label>
											<div class="controls">
												<textarea name="name" type="text" placeholder="" class="input-xlarge">@lesson.name</textarea>
												<p class="help-block">Lesson Name</p>
											</div>
										</div>
										
										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Acronym</label>
											<div class="controls">
												<textarea name="acronym" type="text" placeholder="" class="input-xlarge">@lesson.acronym</textarea>
												<p class="help-block">Lesson Acronym</p>
											</div>
										</div>

										<div class="control-group">

											<!-- Textarea -->
											<label class="control-label">Short Description</label>
											<div class="controls">
												<div class="textarea">
													<textarea name="shortdescription" type="" class=""
														style="margin: 0px; height: 145px; width: 269px;">@lesson.shortDescription</textarea>
												</div>
											</div>
										</div>
										
										<div class="control-group">

											<!-- Textarea -->
											<label class="control-label">Description</label>
											<div class="controls">
												<div class="textarea">
													<textarea name="description" type="" class=""
														style="margin: 0px; height: 250px; width: 269px;">@lesson.description</textarea>
												</div>
											</div>
										</div>

										<div class="control-group">

											<!-- Text input-->
											<label class="control-label" for="input01">Image url</label>
											<div class="controls">
												<textarea name="imageURL" type="text" style="margin: 0px; height: 145px; width: 269px; placeholder="" class="input-xlarge">@lesson.imageURL</textarea>
												<p class="help-block">Lesson image</p>
											</div>
										</div>
										

									<div class="control-group">
										<label class="control-label"></label>

										<!-- Button -->
										<div class="controls">
											<button type="submit" class="btn btn-success">Save</button>
										</div>
									</div>


								}
							
						</div>
					</div>
						
						<div class="tab-pane" id="suggested">
							<div class="row-fluid">
								<table class="table table-striped" style="background: #DDDDDD;">
								<thead>
									<tr>
										<th>Question ID</th>
										<th>Student</th>
										<th></th>
										
									</tr>
								</thead>
								<tbody>
								@for(question <- lesson.questions){
								@if(question.user!=null){
									<tr>
										<td>@question.id</td>
										<td>@question.user.name</td>
										<td><a class="btn btn-small btn-success" href="#MyModalSuggestedQuestion@question.user" data-toggle="modal">Open</a></td>
									
									<div id="MyModalSuggestedQuestion@question.user" class="modal hide fade" >
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">X</button>
							<h3 id="myModalLabel">Suggested question from @question.user.name</h3>
						</div>
						<div class="modal-body">
						<h3>Question:</h3>
							<p>@question.question</p>
						<h3>Suggested Answer</h3>
							<p>@question.answerSuggestedByStudent</p>
							
						</div>
						<div class="modal-footer">
														<button class="btn" data-dismiss="modal"
															aria-hidden="true">Close</button>
													</div>
					</div>
									
									
									</tr>
									}
									}
								</tbody>
							</table>

							</div>
							
						</div>
					
				</div>
			</div>
		</div>

	</div>
</div>
}