@(user: User, categories: List[models.curriculum.Category], lesson:
models.module.Lesson, module: models.module.Module) @import helper._
@main("etoileplatform"){



<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		@professormenu(user)
		
		<div class="span9">
			<div class="page-header">
				<h2>
					@lesson.name <small> <span class="btn-group"> <a
							class="btn btn-mini btn-warning" href="#" data-toggle="modal"
							role="button">edit</a> <a class="btn btn-mini btn-danger"
							href="#" data-toggle="modal" role="button">delete</a>

					</span>
					</small>
				</h2>

			</div>
			<!--/span-->
		<div class="row-fluid">
				<div class="">
				<button type="button" class="close" data-toggle="collapse"
							data-target="#@lesson.id">-</button>
						<strong data-toggle="collapse" data-target="#@lesson.id">@lesson.shortDescription</strong>
							<div id="@lesson.id" class="collapse row-fluid">
							<p>@lesson.description</p>
							</div>
						
				</div>
				</br>
				<div class="tabbable">
					<!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#news" data-toggle="tab">News</a></li>
						<li><a href="#resources" data-toggle="tab">Resources</a></li>
						<li><a href="#tests" data-toggle="tab">Tests</a></li>
						<li><a href="#suggested" data-toggle="tab">Suggested questions</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="news">
							<div class="row-fluid">
								<div class="span2">
									<img src="@lesson.imageURL" height="100" width="100" />
								</div>
								<div class="span9">
									<p>The First Test is now available</p>
								</div>
								
		
							</div>
							<a class="btn btn-large btn-block btn-success btn-mini" data-toggle="modal" href="#addContent" type="button">Add news</a>
						</div>
						<div class="tab-pane" id="resources">
							@for(mc <- lesson.lessoncontents) {
							<div class="row-fluid">
								<div class="span2">
									<img
										src="http://t1.gstatic.com/images?q=tbn:ANd9GcT4WGTzj_cToz8WU04RHnC8XnDRR4bxJgLFHkQuXxGkYm8FeWmHKNi2PA"
										height="50" width="50" />
								</div>
								<div class="span9">
									<p>@mc.text</p>
									<p>
										<a href="@mc.url" target="_blank">@mc.name</a>
									</p>
								</div>
							</div>
							}
							<a class="btn btn-large btn-block btn-success btn-mini" data-toggle="modal" href="#" type="button">Add resource</a>
		
						</div>
						<div class="tab-pane" id="tests">
							<table class="table table-striped" style="background: #DDDDDD;">
								<thead>
									<tr>
										<th>Test-ID</th>
										<th>Test Name</th>
										<th>Expected Duration</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@for(test <- lesson.tests) {
									<tr>
										<td>@test.id</td>
										<td>@test.name</td>
										<td>3 hours</td>
										<td>
										<span class="btn-group">
										<a class="btn btn-small btn-success" href="@routes.ProfessorTestController.test(module.acronym,lesson.acronym,test.id)" data-toggle="modal" role="button">open</a>
										<a class="btn btn-small btn-warning" href="#" data-toggle="modal" role="button">edit</a>
										<a class="btn btn-small btn-danger" href="#" data-toggle="modal" role="button">delete</a>

										</span>
										</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
						<div class="tab-pane active" id="suggested">
							<div class="row-fluid">
								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
}