@(module: models.module.Module, lesson: models.module.Lesson, test: models.test.Test, group: models.test.question.QuestionGroup, question: models.test.question.Question,subtopics: List[models.curriculum.Curriculummodule]) @main("éToile Platform"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/">éToile Platform home</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="http://unitwin-cs.org" target="_blank">CS-Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a>
                    </li>
                    <li><a href="/statistics">Statistics</a>
                    </li>
                    <li><a href="/help" target="_blank">Help</a> </li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container">



	<div class="page-header">
		<h2>
			Edit open question
			<br> <small>Test: @test.name</small>
		</h2>
		<a href="@routes.ProfessorTestController.edittest(module.acronym, lesson.acronym, test.id)" class="btn btn-primary btn-small">Return to test edit</a>
		
	</div>
	      					@helper.form(routes.ProfessorTestController.editopenquestion(module.acronym, lesson.acronym, test.id, group.id, question.id),'class->"form-horizontal"){
	
	<div class="row-fluid">
				<div class="well span12">
				 <fieldset>
      <div id="legend" class="">
        <legend class=""><h3>Question @question.number</h3></legend>
      </div>			
						<label >Question</label>
						<textarea required  minlength="10"  class="span12" rows="10" name="question">@question.question</textarea>
						<p></p>
						<label>Model Answer</label>
						
						<textarea  class="span12" rows="10" name="suggestedanswer" required minlength="10" >@question.answerSuggestedByStudent</textarea>
						
						<p><p>
						
						<div class="control-group">
					
										<!-- Text input-->
										<label class="control-label" for="input01">Keywords</label>
										<div class="controls">
											<input name="keywords" type="text" value="@question.keywords"
												class="input-xlarge" required>
											<p class="help-block">Keywords related to this question, you can enter multiple keywords separated by commas</p>
										</div>
									</div>
									
									<div class="control-group">
								<label class="control-label">Subtopic</label>
								<div class="controls">
									<select name="subtopic">
									@for(subtopic <- subtopics){
										<option>@subtopic.name</option>
										}
									</select>
									<p class="help-block">Subtopic related to this question</p>
								</div>
							</div>
						
						<hr>
						<h3>Media</h3>
						
								<p>
								


									<div class="control-group">

										<!-- Text input-->
										<label class="control-label" for="input01">Image</label>
										<div class="controls">
											<input name="image" type="text" value="@question.imageURL"
												class="input-xlarge">
											<p class="help-block">Question image URL</p>
										</div>
									</div>
									
									<div class="control-group">

										<!-- Text input-->
										<label class="control-label" for="input01">Video</label>
										<div class="controls">
											<input name="video" type="text" value="@question.videoURL"
												class="input-xlarge">
											<p class="help-block">Question video URL</p>
										</div>
									</div>
									
									
									
									
						<hr>
						<h3>Weight</h3>
						
						<div class="control-group">

										<!-- Text input-->
										<label class="control-label" for="input01">Weight</label>
										<div class="controls">
											<input type="number" min="0" max="100" size="32" id="quantity" class="span2" name="weight" value="@question.weight" required ></input><span class="add-on"></span>
											
											<p class="help-block">Weight of this question</p>
										</div>
									</div>
									
									
									<div class="control-group">
							<label class="control-label"></label>

							
						</div>
						
						
						</div>
					</div>
					<!-- Button -->
							<div class="controls">
								<button class="btn btn-success pull-right">Save Modifications</button>
							</div>
					}
<div class="pull-right">
</div>	
</div>


}
