@(module: models.module.Module, lesson: models.module.Lesson, test: models.test.Test) @main("etoile"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container">



	<div class="page-header">
		<h2>
			Test name <small><a href="#editTestModal"
				data-toggle="modal" role="button" class="btn btn-warning btn-mini">Edit</a></small>
			<br> <small>Test description</small>
		</h2>
		<h3>
			Group 1
		</h3>
	</div>
	<div class="tabbable">
					<!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#news" data-toggle="tab">News</a></li>
						<li><a href="#resources" data-toggle="tab">Resources</a></li>
						<li><a href="#tests" data-toggle="tab">Tests</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="news">
	<div class="row-fluid">
				<div class="well span11">
					<label >Question</label>
						<textarea  class="span12" rows="10" name="qanswer">Test</textarea>
						<label>Model Answer</label>
						<textarea  class="span12" rows="10" name="qanswer">Test</textarea>
				</div>
			</div>
		</div>
						<div class="tab-pane" id="resources">
						aiueh
						</div>
	</div>
	</div>

<div class="btn-group pull-right">
<a href="#submittest" role="button" class="btn btn-primary" data-toggle="modal">Submit test</a>
<a href="@routes.StudentController.lesson(lesson.acronym,module.acronym)" role="button" class="btn">Return to Lesson</a>
</div>	
</div>


}
