@(module: models.module.Module, lesson: models.module.Lesson, test:
models.test.Test) @main("etoile"){

<div class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <a class="brand" href="/">etoile platform</a> -->
			<a class="brand" href="/"><b><i>&eacute;</i></b>toile platform</a>

			<!-- Menu na barra de cima -->
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/digitalcampus">Digital Campus</a></li>
					<li><a href="/modules">Modules</a></li>
					<!-- 					  <li><a href="/curriculum">Curriculum</a></li>  -->
					<li><a href="/news">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!--  
				<div class="navbar-form pull-right">
					<a href="login" role="button" class="btn btn-primary">Login</a>
				</div>
				-->
				<form class="navbar-form pull-right">
					@if( session.get("email")==null) { <a href="/login" role="button"
						class="btn btn-primary">Login</a> }
					@if(session.get("email")!=null) { <a href="/logout" role="button"
						class="btn btn-primary">Logout</a> }
				</form>
			</div>
			<!--/.nav-collapse -->

		</div>
	</div>
</div>

<div class="container">



	<div class="page-header">
		@if(!test.published){ <a class="btn btn-info pull-right"
			href="@routes.ProfessorTestController.publish(module.acronym,lesson.acronym,test.id)">Publish</a>

		<h2>

			@test.name <small><a href="#editTestModal"
				data-toggle="modal" role="button" class="btn btn-warning btn-mini">Edit</a></small>
			<br> <small>@test.text </small>

		</h2>
		
		<a
			href="@routes.StudentController.lesson(lesson.acronym,module.acronym)#tests"
			class="btn btn-primary btn-small">Return to the beginning of the
			lesson</a>

		<div id="editTestModal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Edit test name</h3>
			</div>
			@helper.form(routes.ProfessorTestController.edittesttitle(module.acronym,lesson.acronym,test.id),'class->"form-horizontal"){
			<p>
			<fieldset>


				<div class="control-group">

					<!-- Text input-->
					<label class="control-label" for="input01">Name</label>
					<div class="controls">
						<input name="name" type="text" value="@test.name"
							class="input-xlarge">
						<p class="help-block">Edit test name</p>
					</div>
				</div>

				<div class="control-group">

					<!-- Text input-->
					<label class="control-label" for="input01">Description</label>
					<div class="controls">
						<input name="text" type="text" value="@test.text"
							class="input-xlarge">
						<p class="help-block">Small description</p>
					</div>
				</div>

				<div class="control-group">

					<!-- Text input-->
					<label class="control-label" for="input01">Expected
						duration</label>
					<div class="controls">
						<input name="expectedDuration" type="text"
							value="@test.expectedDuration" class="input-xlarge disabled">
						<p class="help-block">Estimated time for students complete the
							test</p>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label"></label>

					<!-- Button -->
					<div class="controls">
						<button class="btn btn-success">Save</button>
					</div>
				</div>

			</fieldset>
			</p>
			}
		</div>
		
		} 
		
		
		
		@if(test.published){ <a class="btn btn-warning pull-right"
			href="#unpublishModal" data-toggle="modal">Unpublish</a>
		<div id="unpublishModal" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">X</button>
				<h3>Confirm unpublish</h3>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to unpublish this test?</p>
				<blockquote>@test.name</blockquote>
				@if(test.studentsEnrolled(test)){
				<p>
					<span class="label label-error">Important</span> All students
					enrolled to this test, will have their test deleted!
				</p>
				}
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<a class="btn btn-warning"
					href="@routes.ProfessorTestController.unpublish(module.acronym,lesson.acronym,test.id)">Unpublish</a>
			</div>


		</div>

		<h2>

			@test.name <small><a href="#"
				data-toggle="modal" role="button" class="btn btn-warning btn-mini disabled">Edit</a></small>
			<br> <small>@test.text </small>

		</h2>

		<a
			href="@routes.StudentController.lesson(lesson.acronym,module.acronym)#tests"
			class="btn btn-primary btn-small">Return to the beginning of the
			lesson</a>
	<span class="pull-right"> <span
			class="label label-important">Info</span> You can not edit this test
			while students are enrolled to it.
		</span> 
		}

		
	
	</div>
	
	
	<span class="span12">
		<div class="row">
			<h3>Statistics</h3>
			<blockquote>

				<p>Number of users enrolled to this test:
					@test.numberStudentsEnrolled(test)</p>
			</blockquote>



		</div>
		
	
		
		@if(!test.published){


		<div class="row">
			<h3>Groups</h3>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for(group<- test.groups){
					<tr>
						<td>Group @group.number</td>
						<td></td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-small btn-danger" href="#deletegroup@group.id"
									data-toggle="modal" role="button">delete</a> <a
									class="btn btn-small btn-success" href="#viewgroup@group.id" data-toggle="modal">view</a>
								<a class="btn btn-small btn-warning" href="#editgroup@group.id" data-toggle="modal">edit</a> 
								<a class="btn btn-primary btn-small dropdown-toggle"
									data-toggle="dropdown"> add question <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a
										href="@routes.ProfessorTestController.addopenquestionform(module.acronym, lesson.acronym, test.id,group.id)">Open
											question</a></li>
									<li><a
										href="@routes.ProfessorTestController.addonechoicequestionform(module.acronym, lesson.acronym, test.id,group.id)">One
											choice question</a></li>
									<li><a href="#">Multiple choice question</a></li>
								</ul>

							</div>
							<div id="deletegroup@group.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Confirm Delete</h3>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete this group?</p>
									<blockquote>Group @group.number</blockquote>
									<p>
										<span class="label label-important">Important</span> This
										Action is irreversible!
									</p>
									<p>
										<span class="label label-important">Important</span> This will
										erase all questions inside this group!
									</p>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									<a class="btn btn-danger"
										href="@routes.ProfessorTestController.deletegroup(module.acronym,lesson.acronym,test.id,group.id)">Delete</a>
								</div>


							</div>
							<div id="editgroup@group.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Edit group @group.number</h3>
								</div>
								@helper.form(routes.ProfessorTestController.editgroup(module.acronym,lesson.acronym,test.id,group.id),'class->"form-horizontal"){
								<div class="modal-body">
									<div class="control-group">

										<!-- Textarea -->
										<label class="control-label">Group question</label>
										<div class="controls">
											<div class="textarea">
												<textarea name="question" type="" class="" style="margin: 0px; height: 150px; width: 269px;">@group.question</textarea>
											</div>
										</div>
									</div>
								</div>

								<div class="controls">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
							<button class="btn btn-success">Add group</button>
						</div>

}
							</div>
							<div id="viewgroup@group.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Group @group.number</h3>
								</div>
								
								<div class="modal-body">
									
									<blockquote>@group.question</blockquote>
									
								</div>

					<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									
								</div>

							</div>
						</td>

					</tr>
					@for(question <-group.questions){
					<tr>
						<td><span class="offset1">Question @question.number</span></td>
						@if(question.typeOfQuestion==0){
						<td>Open question</td> } @if(question.typeOfQuestion==1){
						<td>One choice question</td> } @if(question.typeOfQuestion==2){
						<td>Multiple choice question</td> }
						<td><span class="btn-group pull-right"> <a
								class="btn btn-mini btn-danger"
								href="#removequestion@question.id" data-toggle="modal">remove</a>
								@if(question.typeOfQuestion==0){ <a
								class="btn btn-mini btn-success" href="#viewquestion@question.id" data-toggle="modal">view</a>
								<a class="btn btn-mini btn-warning"
								href="@routes.ProfessorTestController.editopenquestionform(module.acronym, lesson.acronym, test.id,group.id, question.id)"
								data-toggle="modal">edit</a> }@if(question.typeOfQuestion==1){ <a
								class="btn btn-mini btn-success" href="#viewquestion@question.id" data-toggle="modal">view</a>
								<a class="btn btn-mini btn-warning" href="#" data-toggle="modal">edit</a>

								}@if(question.typeOfQuestion==2){ <a
								class="btn btn-mini btn-success" href="#viewquestion@question.id" data-toggle="modal">view</a>
								<a class="btn btn-mini btn-warning" href="#" data-toggle="modal">edit</a>

								}

						</span>
							<div id="removequestion@question.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Confirm removal</h3>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to remove this question?</p>
									<blockquote>Group @group.number</blockquote>
									<blockquote>Question @question.number</blockquote>
									<blockquote>@question.question</blockquote>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									<a class="btn btn-danger"
										href="@routes.ProfessorTestController.removequestion(module.acronym,lesson.acronym,test.id,group.id,question.id)">Remove</a>
								</div>


							</div></td>
							<div id="viewquestion@question.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Question @question.number</h3>
								</div>
								
								<div class="modal-body">
									
									<blockquote>@question.question</blockquote>
									
								</div>

					<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									
								</div>

							</div>
					</tr>
					} }


				</tbody>
			</table>
		</div>

	}
	
	@if(test.published){


		<div class="row">
			<h3>Groups</h3>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@for(group<- test.groups){
					<tr>
						<td>Group @group.number</td>
						<td></td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-small btn-danger disabled" href="#" data-toggle="modal" role="button">delete</a> <a
									class="btn btn-small btn-success " href="#viewgroup@group.id" data-toggle="modal">view</a>
								<a class="btn btn-small btn-warning disabled" href="#" data-toggle="modal">edit</a> 
								<a class="btn btn-primary btn-small dropdown-toggle disabled"
									data-toggle="dropdown"> add question <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a
										href="#">Open
											question</a></li>
									<li><a
										href="#">One
											choice question</a></li>
									<li><a href="#">Multiple choice question</a></li>
								</ul>

							</div>
							<div id="viewgroup@group.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Group @group.number</h3>
								</div>
								
								<div class="modal-body">
									
									<blockquote>@group.question</blockquote>
									
								</div>

					<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									
								</div>

							</div>
						</td>

					</tr>
					@for(question <-group.questions){
					<tr>
						<td><span class="offset1">Question @question.number</span></td>
						@if(question.typeOfQuestion==0){
						<td>Open question</td> } @if(question.typeOfQuestion==1){
						<td>One choice question</td> } @if(question.typeOfQuestion==2){
						<td>Multiple choice question</td> }
						<td><span class="btn-group pull-right"> <a
								class="btn btn-mini btn-danger disabled"
								href="#" data-toggle="modal">remove</a>
								@if(question.typeOfQuestion==0){ <a
								class="btn btn-mini btn-success" href="#viewquestion@question.id" data-toggle="modal">view</a>
								<a class="btn btn-mini btn-warning disabled"
								href="#"
								data-toggle="modal">edit</a> }@if(question.typeOfQuestion==1){ <a
								class="btn btn-mini btn-success" href="#viewquestion@question.id" data-toggle="modal">view</a>
								<a class="btn btn-mini btn-warning disabled" href="#" data-toggle="modal">edit</a>

								}@if(question.typeOfQuestion==2){ <a
								class="btn btn-mini btn-success" href="#viewquestion@question.id" data-toggle="modal">view</a>
								<a class="btn btn-mini btn-warning disabled" href="#" data-toggle="modal">edit</a>

								}

						</span>
							</td>
							<div id="viewquestion@question.id" class="modal hide fade"
								tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
								aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">X</button>
									<h3>Question @question.number</h3>
								</div>
								
								<div class="modal-body">
									
									<blockquote>@question.question</blockquote>
									@if(question.typeOfQuestion!=0){
									@for(hypothesis <- question.hypothesislist){
									@if(hypothesis.user==null){
									@if(hypothesis.isCorrect){
									<p class="text-success" >@hypothesis.text</p>
									}
									@if(!hypothesis.isCorrect){
									<p class="text-error" >@hypothesis.text</p>}
									}
									}
									}
								</div>

					<div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
									
								</div>

							</div>
					</tr>
					} }


				</tbody>
			</table>
		</div>

	}
	

		<div class="row">
		@if(!test.published){
			<a class="btn btn-large btn-block btn-success btn-mini"
				data-toggle="modal" href="#addGroup" type="button">Add group</a>
			<div id="addGroup" class="modal hide fade" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">X</button>
					<h3>Add new group</h3>
				</div>


				@helper.form(routes.ProfessorTestController.addgroup(module.acronym,lesson.acronym,test.id),'class->"form-horizontal"){
				<p>
				<fieldset>

					<div class="control-group">

						<!-- Textarea -->
						<label class="control-label">Group question</label>
						<div class="controls">
							<div class="textarea">
								<textarea name="question" type="" class=""
									style="margin: 0px; height: 109px; width: 269px;"></textarea>
							</div>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label"></label>

						<!-- Button -->
						<div class="controls">
							<button class="btn btn-success">Add group</button>
						</div>
					</div>

				</fieldset>
				</p>
				}


			</div>
}
@if(test.published){
<a class="btn btn-large btn-block btn-success btn-mini disabled"
				data-toggle="modal" href="#" type="button">Add group</a>
}
		</div> 
		
	
	
	
	</span>

</div>



}
